.error-formInscription{
  color:red;
  font-size: 12px;
  text-align: left !important;
  padding-right: 180px;
}
.error-name{
  color:red;
  font-size: 12px;
  text-align: left !important;
  margin-right: 50px;
}
.logo-style{
  background-color: #fafafa;
  border: 1px solid #fafafa;
  border-radius: 15px;
  padding: 5px;
}
.logo-style-in{
  margin-left: 20%;
}
.login-register-form{
  text-align: left !important;
}
