<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, shrink-to-fit=9" name="viewport">
  <meta content="Gambolthemes" name="description">
  <meta content="Gambolthemes" name="author">
  <title>Goeveni - Register Now</title>

  <!-- Favicon Icon -->
  <link href="images/fav.png" rel="icon" type="image/png">


</head>

<body class="body-bg">
<!-- Body Start -->
<main class="register-mp">
  <div class="main-section">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-10">
          <div class="login-register-bg">
            <div class="row no-gutters">
              <div class="col-lg-6">
                <div class="lg-left">
                  <div class="lg-logo">
                    <div class="logo-style">
                      <div class="logo-style-in">
                        <a href="index.html"><img alt="" height="50px" src="../../assets/images/logo-eg.png"></a>
                        <a href="index.html"><img alt="" height="50px" src="../../assets/images/logo-eg-large.png"></a>
                      </div>
                    </div>
                  </div>
                  <div class="lr-text">
                    <h2>Inscrivez-vous maintenant</h2>
                    <p>Evenemglamour , le réseau social pour tout évènements </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="lr-right">
                  <h4>S'inscrire sur Evenem Glamour</h4>
                  <div class="login-register-form">
                    <form (ngSubmit)="signIn()" [formGroup]="formInscription">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-6">
                            <input class="form-input h_50" formControlName="nom" placeholder="Nom" type="text">
                            <div *ngIf="formInscription.get('nom')?.errors?.['required'] && formInscription.get('nom')?.touched">
                              <span class="error-name">Nom requis</span>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <input class="form-input h_50" formControlName="prenom" placeholder="Prenom" type="text">
                            <div *ngIf="formInscription.get('prenom')?.errors?.['required'] && formInscription.get('prenom')?.touched">
                              <span class="error-name">Prenom requis</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <input class="form-input h_50" formControlName="email" placeholder="Addresse email" type="email">
                        <div *ngIf="formInscription.get('email')?.invalid && formInscription.get('email')?.touched">
                          <div *ngIf="formInscription.get('email')?.errors?.['required']">
                            <span class="error-formInscription">Le mail est requis</span>
                          </div>
                          <div *ngIf="formInscription.get('email')?.errors?.['email']">
                            <span class="error-formInscription">L'email n'est pas valide.</span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <input class="form-input h_50" formControlName="mdp" placeholder="Mot de passe" type="{{passwordType}}">
                        <div class="password-icon">
                          <i *ngIf="passwordType=='text'" (click)="hidePassword()" class="fa fa-eye" aria-hidden="true"></i>
                          <i *ngIf="passwordType=='password'" (click)="showPassword()" class="fa fa-eye-slash" aria-hidden="true"></i>
                        </div>
                        <div *ngIf="formInscription.get('mdp')?.invalid && formInscription.get('mdp')?.touched">
                          <div *ngIf="formInscription.get('mdp')?.errors?.['required']">
                            <span class="error-formInscription">Mot de passe requis</span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <input class="form-input h_50" data-inputmask="'mask': '(999) 999-9999'" formControlName="tel" placeholder="Téléphone" type="text">
                        <div *ngIf="formInscription.get('tel')?.errors?.['required'] && formInscription.get('tel')?.touched">
                          <span class="error-formInscription">Numero de téléphone requis</span>
                        </div>
                        <div *ngIf="formInscription.get('tel')?.hasError('pattern') && formInscription.get('tel')?.touched">
                          <span class="error-formInscription">Doit être un nombre</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-6">
                            <input class="form-input h_50" formControlName="pays" placeholder="Pays" type="text"></div>
                          <div class="col-md-6">
                            <input class="form-input h_50" formControlName="ville" placeholder="Ville" type="text">
                          </div>
                        </div>
                      </div>
                      <div class="rgstr-dt-txt">
                        En s'inscrivant , vous accepter les <a href="#">Termes</a>,et les
                        <a href="#">Conditions d'utilisatons</a> Vous pouvez recevoir des mails de notre part .
                      </div>
                      <p style="text-align: center; margin-top: 20px; color:rgb(255, 52, 52)">{{errorMessage}}</p>
                      <button [disabled]="!formInscription.valid" class="login-btn">S'inscrire</button>
                      <div class="login-link">Vous avez déja un compte ? <a routerLink="/login">Se connecter Maintenant</a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>
<!-- Body End -->
<!-- Footer Start -->
<footer class="footer-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="footer-left">
          <ul>
            <li><a routerLink="/signIn">Privée</a></li>
            <li><a routerLink="/signIn">Termes et Conditions</a></li>
            <li><a routerLink="/signIn">A Propos</a></li>
            <li><a routerLink="/signIn">Contactez-nous</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="footer-right">
          <ul class="copyright-text">
            <li><a routerLink="/"><img alt="" src="../../assets/images/fav-eg.png" height="30px"></a></li>
            <li>
              <div class="ftr-1"><i class="far fa-copyright"></i> 2023 Evenemglamour by
                <a routerLink="/">YTT</a>. Tous droits Réservées.
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
