<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, shrink-to-fit=9">
  <meta name="description" content="Gambolthemes">
  <meta name="author" content="Gambolthemes">
  <title>Goeveni - Register Now</title>

  <!-- Favicon Icon -->
  <link rel="icon" type="image/png" href="images/fav.png">


</head>

<body class="body-bg">
<!-- Body Start -->
<main class="register-mp">
  <div class="main-section">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-10">
          <div class="login-register-bg">
            <div class="row no-gutters">
              <div class="col-lg-6">
                <div class="lg-left">
                  <div class="lg-logo">
                    <a href="index.html"><img src="images/login-register/logo.svg" alt=""></a>
                  </div>
                  <div class="lr-text">
                    <h2>Inscrivez-vous maintenant</h2>
                    <p>Geoveni , le réseau social pour tout évènements </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="lr-right">
                  <h4>S'inscrire sur Goeveni</h4>
                  <div class="login-register-form">
                    <form (ngSubmit)="signIn()" [formGroup]="formInscription">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-6"><input class="form-input h_50" formControlName="nom" type="text" placeholder="Nom"></div>
                          <div class="col-md-6"><input class="form-input h_50" formControlName="prenom" type="text" placeholder="Prenom"></div>
                        </div>
                      </div>
                      <div class="form-group">
                        <input class="form-input h_50" type="email" formControlName="email" placeholder="Addresse email">
                      </div>
                      <div class="form-group">
                        <input class="form-input h_50" type="mdp" formControlName="mdp" placeholder="Mot de passe">
                      </div>
                      <div class="form-group">
                        <input class="form-input h_50" type="phone" formControlName="tel" placeholder="Téléphone">
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-6"><input class="form-input h_50" formControlName="pays" type="text" placeholder="Pays"></div>
                          <div class="col-md-6"><input class="form-input h_50" formControlName="ville" type="text" placeholder="Ville"></div>
                        </div>
                      </div>
                      <div class="rgstr-dt-txt">
                        En s'inscrivant , vous accepter les <a href="#">Termes</a>,et les <a href="#">Conditions d'utilisatons</a> Tu peux recevoir des mails de notre part .
                      </div>
                      <button class="login-btn" type="submit">S'inscrire</button>
                      <div class="login-link">Tu n'as pas de compte ? <a routerLink="/login">Se connecter Maintenant</a></div>
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>
<!-- Body End -->
<!-- Footer Start -->
<footer class="footer-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="footer-left">
          <ul>
            <li><a href="privacy_policy.html">Privée</a></li>
            <li><a href="term_conditions.html">Termes et Conditions</a></li>
            <li><a href="about.html">A Propos</a></li>
            <li><a href="contact_us.html">Contactez-nous</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="footer-right">
          <ul class="copyright-text">
            <li><a href="index.html"><img src="../../assets/images/logo-2.svg" alt=""></a></li>
            <li><div class="ftr-1"><i class="far fa-copyright"></i> 2023 Goeveni by <a href="https://themeforest.net/user/gambolthemes">Gambolthemes</a>. Tous droits Réservées.</div></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
