.error-formInscription{
  color:red;
  font-size: 12px;
  text-align: left !important;
  padding-right: 180px;
}
.error-name{
  color:red;
  font-size: 12px;
  text-align: left !important;
  margin-right: 50px;
}
