<div class="title-bar">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ol class="title-bar-text">
          <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
          <li aria-current="page" class="breadcrumb-item active">Ajouter nouvel évènement</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<main class="goeveni-mp">
  <div class="main-section">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-xl-6 col-lg-10 col-md-12">
          <form (ngSubmit)="create_event()" [formGroup]="formNewEvent">
            <div class="main-card p-4">
              <div class="add-event-cover-image">
                <div class="upload-cover">
                  <div class="cover-img-btn">
                    <input (change)="onFileSelected($event)" formControlName="couverture_photo" id="cover-img" type="file">
                    <label for="cover-img"><i class="feather-image me-3"></i>Image de couverture de l'evenement</label>
                  </div>
                  <img height="300px" [src]="previewImage" class="square-image">
                  <p class="recommand">On vous recommande le format 1200x620 pixels.</p>
                </div>
              </div>
            </div>
            <div class="add-event-tabs">
              <ul class="nav nav-pills nav-fill p-2 goeveni-tab mt-4 mt-xl-0" id="mainTab" role="tablist">
                <li class="nav-item">
                  <a aria-controls="in-person" aria-selected="true" class="nav-link active" data-bs-toggle="tab" href="#in-person" id="in-person-tab" role="tab"><i class="feather-users"></i>Evènements</a>
                </li>
              </ul>
              <div class="tab-content" id="mainTabContent">
                <div>
                  <div class="main-form">
                    <div class="form-group mt-4">
                      <label class="form-label">Nom de l'évènement*</label>
                      <input class="form-input" formControlName="event_name" placeholder="Nom de l'évènement" type="text">
                      <div *ngIf="formNewEvent.get('event_name')?.errors?.['required'] && formNewEvent.get('event_name')?.touched">
                        <span class="error-formNewEvent">Nom requis*</span>
                      </div>
                    </div>
                    <div class="form-group mt-4">
                      <label class="form-label">Lieu*</label>
                      <input class="form-input" formControlName="lieu" placeholder="Lieu de l'évènement" type="text">
                      <div *ngIf="formNewEvent.get('lieu')?.errors?.['required'] && formNewEvent.get('lieu')?.touched">
                        <span class="error-formNewEvent">Lieu requis*</span>
                      </div>
                    </div>
                    <div class="form-group mt-4">
                      <label class="form-label">Date début*</label>
                      <input class="search-form-input datepicker-here" data-language='en' formControlName="date_debut"  type="datetime-local">
                      <div *ngIf="formNewEvent.get('date_debut')?.errors?.['required'] && formNewEvent.get('date_debut')?.touched">
                        <span class="error-formNewEvent">Vous devez indiquer la date de début*</span>
                      </div>
                    </div>
                    <div class="form-group mt-4">
                      <label class="form-label">Date de fin*</label>
                      <input class="search-form-input datepicker-here" data-language='en' formControlName="date_fin"  type="datetime-local">
                      <div *ngIf="formNewEvent.get('date_fin')?.errors?.['required'] && formNewEvent.get('date_fin')?.touched">
                        <span class="error-formNewEvent">Vous devez indiquer la date de fin*</span>
                      </div>
                    </div>
                    <div class="form-group mt-4">
                      <label class="form-label">Categorie*</label>
                      <select class="form-input" data-size="5" data-width="100%" formControlName="categories_id">
                        <option value="">Categorie</option>
                        <option *ngFor="let categorie of categories" value="{{categorie?.id}}">{{categorie?.nom}}</option>
                      </select>
                      <div *ngIf="formNewEvent.get('categories_id')?.errors?.['required'] && formNewEvent.get('categories_id')?.touched">
                        <span class="error-formNewEvent">Categorie requis*</span>
                      </div>
                    </div>
                    <div class="form-group mt-4">
                      <label class="form-label">Lien du ticket*</label>
                      <input class="form-input" formControlName="payement_link" placeholder="https://" type="text">
                      <div *ngIf="formNewEvent.get('payement_link')?.errors?.['required'] && formNewEvent.get('payement_link')?.touched">
                        <span class="error-formNewEvent">Le lien du ticket est requis*</span>
                      </div>
                      <span class="small-des">Ajouter un lien vers votre site de ticket</span>
                    </div>
                    <div class="form-group mt-4">
                      <label class="form-label">Description</label>
                      <textarea class="form-textarea" formControlName="description" placeholder="Descrivez votre évènement en quelques mots"></textarea>
                      <span class="small-des">Fournissez plus d'informations sur votre événement afin que les invités sachent à quoi s'attendre..</span>
                    </div>
                    <button  [disabled]="!formNewEvent.valid" class="main-btn btn-hover h-40 w-100 mt-37 mb-3">Creer évènement</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
<ngx-spinner bdColor="rgb(2 2 2 / 90%)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
  [fullScreen] = "true">
  <p style="font-size: 18px; color: white">Chargement des données...</p>
</ngx-spinner>
