.error-formNewEvent{
  color:red;
  font-size: 12px;
  text-align: left !important;
  padding-right: 180px;
}
.main-btn:disabled{
  cursor: not-allowed;
}
.recommand{
  font-weight: bold;
  font-size: 14px;
}
