<div class="title-bar">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ol class="title-bar-text">
          <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
          <li aria-current="page" class="breadcrumb-item active">Messages</li>
        </ol>
      </div>
    </div>
  </div>
</div><!-- Title Bar End --><!-- Body Start -->
<main class="discussion-mp">
  <div class="main-section">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-5 col-md-12">
          <div class="full-width mb-0">
            <form class="message-sidebar">
              <div class="msg-top-left-items">
                <div class="msg-search">
                  <i class="feather-search"></i>
                  <input class="form-input pl-left refund-textarea" placeholder="Rechercher des personnes" type="text" value="">
                </div>
                <div class="msg-create-btns">
                  <button class="btn-main btn-hover" data-placement="top" data-toggle="tooltip" title="Mark all conversations as read" type="button">
                    <svg height="23" viewBox="0 0 24 24" width="23" xmlns="http://www.w3.org/2000/svg">
                      <path d="M14,10H2V12H14V10M14,6H2V8H14V6M2,16H10V14H2V16M21.5,11.5L23,13L16,20L11.5,15.5L13,14L16,17L21.5,11.5Z" fill="currentColor"></path>
                    </svg>
                  </button>
                  <button class="btn-main btn-hover create_group_chat" data-placement="top" data-toggle="tooltip" title="Create Group" type="button">
                    <svg height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13,13C11,13 7,14 7,16V18H19V16C19,14 15,13 13,13M19.62,13.16C20.45,13.88 21,14.82 21,16V18H24V16C24,14.46 21.63,13.5 19.62,13.16M13,11A3,3 0 0,0 16,8A3,3 0 0,0 13,5A3,3 0 0,0 10,8A3,3 0 0,0 13,11M18,11A3,3 0 0,0 21,8A3,3 0 0,0 18,5C17.68,5 17.37,5.05 17.08,5.14C17.65,5.95 18,6.94 18,8C18,9.06 17.65,10.04 17.08,10.85C17.37,10.95 17.68,11 18,11M8,10H5V7H3V10H0V12H3V15H5V12H8V10Z" fill="currentColor"></path>
                    </svg>
                  </button>
                </div>
              </div>
              <div class="msg-tabs">
                <ul class="nav nav-pills nav-justified" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="pill" href="#users-message" role="tab">
                      <i class="feather-user me-2"></i>Utilisateurs </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="pill" href="#groups-message" role="tab">
                      <i class="feather-users me-2"></i>Groupes </a>
                  </li>
                </ul>
                <div class="tab-content mt-30">
                  <div class="tab-pane fade active show" id="users-message" role="tabpanel">
                    <div class="messages-list pt-0 mt-2">
                      <div class="item-body">
                        <a class="media" (click)="loadMessagebyUser(2)" href="#">
                          <div class="item-img">
                            <img alt="" src="../../../assets/images/find-peoples/lily.jpeg">
                            <span class="chat-status offline"></span>
                          </div>
                          <div class="media-body">
                            <h6 class="item-title mb-1">Lily Zaman</h6>
                            <div class="item-time">1 mins ago</div>
                            <p>Hey How are you Lily Zaman</p>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="groups-message" role="tabpanel">
                    <div class="group-message-chat-list">
													<span class="no-online-users text-center empty_state">
														<i class="feather-users"></i>
														Pas de groupes à montrer
													</span>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-xl-8 col-lg-7 col-md-12">
          <app-detail-messages [USER_MESSAGE_SELECTED]="messageByUser"></app-detail-messages>
        </div>
      </div>
    </div>
  </div>
</main>
<ngx-spinner bdColor="rgb(2 2 2 / 90%)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
  [fullScreen] = "true">
  <p style="font-size: 18px; color: white">Chargement des données...</p>
</ngx-spinner>
