.search-person{
  background-color: #f5f5f5;
  //background-color: red;
  border:1px solid #e0e0e0;
  border-radius: 10px;
  padding-left: 15px;
  padding-bottom: 20px;
  position: absolute;
  z-index: 99999;
  width: 20%;
  cursor:pointer;
}
.search-each-person{
  margin-bottom: -35px !important;
};
.clear-icon{
  margin-left: 85%;
  color: #0b2e13;
  //background-color: red;
  width: 20px;
}
