<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, shrink-to-fit=9">
		<meta name="description" content="Gambolthemes">
		<meta name="author" content="Gambolthemes">
		<title>Goeveni - Event Sharing Social Network Html Template</title>

	</head>

	<body class="body-bg">
		<!-- Body Start -->
		<main class="register-mp">
			<div class="main-section">
				<div class="container">
					<div class="row justify-content-md-center">
						<div class="col-md-10">
							<div class="login-register-bg">
								<div class="row no-gutters">
									<div class="col-lg-4">
										<div class="lg-left">
											<div class="lg-logo">
												<a href="index.html"><img src="../../assets/images/login-register/logo.svg" alt=""></a>
											</div>
											<div class="lr-text">
												<h2>Connectez-vous</h2>
												<p>Vous pouvez suivre les différentes évènements aux alentours de chez vous.</p>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="lr-right">
											<div class="social-logins">
												<button class="social-f-btn"><i class="fab fa-facebook-f"></i>Continuer avec facebook</button>
												<button class="social-g-btn"><i class="fab fa-google"></i>Continuer avec Google</button>
											</div>
											<div class="or">Ou</div>
											<div class="login-register-form">
                        <form (ngSubmit)="login()" [formGroup]="form">
													<div class="form-group">
														<input class="form-input h_50" type="email" formControlName="email" placeholder="Mail ou numero de téléphone">
													</div>
													<div class="form-group">
														<input class="form-input h_50" type="password" formControlName="mdp" placeholder="Mot de passe">
													</div>
													<button class="login-btn" type="submit">Se Connecter</button>
												</form>
												<a href="#" class="forgot-link">Mot de passe oublié?</a>
												<div class="regstr-link">Vous n'avez pas de compte? <a routerLink="/signIn">Inscrivez-vous maintenant</a></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</main>
		<!-- Body End -->
		<!-- Footer Start -->
		<footer class="footer-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-12">
						<div class="footer-left">
							<ul>
								<li><a href="privacy_policy.html">Privée</a></li>
								<li><a href="term_conditions.html">Termes et Conditions</a></li>
								<li><a href="about.html">A Propos</a></li>
								<li><a href="contact_us.html">Contactez-nous</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-6 col-md-12">
						<div class="footer-right">
							<ul class="copyright-text">
								<li><a href="index.html"><img src="../../assets/images/logo-2.svg" alt=""></a></li>
								<li><div class="ftr-1"><i class="far fa-copyright"></i> 2023 Goeveni by <a href="https://themeforest.net/user/gambolthemes">Gambolthemes</a>. Tous droits Réservées.</div></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>

	</body>

</html>
