.logo-style{
  background-color: #fafafa;
  border: 1px solid #fafafa;
  border-radius: 15px;
  padding: 5px;
}
.password-icon{
  position: relative;
  margin-top: -35px;
  margin-left: 85%;
  color: #6c6c6c;
  cursor: pointer;
}
.password-icon:hover{
  color: #d3009c;
}
