<div class="title-bar">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ol class="title-bar-text">
          <li class="breadcrumb-item"><a routerLink="/home">Accueil</a></li>
          <li class="breadcrumb-item active" aria-current="page">Explorer</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- Title Bar End -->
<!-- Body Start -->
<main class="goeveni-mp">
  <div class="main-section">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-12">
          <div class="user-data full-width">
            <div class="search-explore p-4">
              <div class="position-relative">
                <input class="form-input" type="text" placeholder="Mot clés..." name="recherche" [(ngModel)]="searchEvent">
                <span class="icon-158"><i class="feather-search"></i></span>
              </div>
            </div>
            <div class="explore-filters accordion" id="explore-filter-group">
              <a href="#filter-item-1" class="filter-step collapsed cate-right" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="filter-item-1">Categories</a>
              <div class="collapse" id="filter-item-1" data-bs-parent="#explore-filter-group">
                <div class="cate-group text-start">
                  <div class="categories-items">
                    <div class="categories-container">
                      <a  class="category-item" style="cursor:pointer;" (click)="getData()">
                        <img alt="Music" src="../../assets/images/category-icons/icon-all.png">Tous
                      </a>
                      <a *ngFor="let cat of categories" class="category-item"  (click)="getEventByCategorie(cat?.id)" style="cursor:pointer;" >
                        <img alt="Music" src="../../assets/images/category-icons/icon-all.png">{{cat.nom}}
                      </a>
                    </div>

                  </div>
                </div>
              </div>
<!--              <a href="#filter-item-2" class="filter-step collapsed cate-right" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="filter-item-2">Location</a>-->
<!--              <div class="collapse" id="filter-item-2" data-bs-parent="#explore-filter-group">-->
<!--                <div class="filter-location main-form text-start">-->
<!--                  <div class="form-group mt-0">-->
<!--                    <select class="selectpicker" title="Select Country / Regions" data-size="5" data-live-search="true">-->
<!--                      <option value="Algeria">Algeria</option>-->
<!--                      <option value="Argentina">Argentina</option>-->
<!--                      <option value="Australia">Australia</option>-->
<!--                      <option value="Austria">Austria (Österreich)</option>-->
<!--                      <option value="Belgium">Belgium (België)</option>-->
<!--                      <option value="Bolivia">Bolivia</option>-->
<!--                      <option value="Brazil">Brazil</option>-->
<!--                      <option value="Canada">Canada</option>-->
<!--                      <option value="Chile">Chile</option>-->
<!--                      <option value="Colombia">Colombia</option>-->
<!--                      <option value="Costa Rica">Costa Rica</option>-->
<!--                      <option value="Cyprus">Cyprus</option>-->
<!--                      <option value="Czech Republic">Czech Republic</option>-->
<!--                      <option value="Denmark">Denmark</option>-->
<!--                      <option value="Dominican Republic">Dominican Republic</option>-->
<!--                      <option value="Estonia">Estonia</option>-->
<!--                      <option value="Finland">Finland</option>-->
<!--                      <option value="France">France</option>-->
<!--                      <option value="Germany">Germany</option>-->
<!--                      <option value="Greece">Greece</option>-->
<!--                      <option value="Hong Kong">Hong Kong</option>-->
<!--                      <option value="Iceland">Iceland</option>-->
<!--                      <option value="India">India</option>-->
<!--                      <option value="Indonesia">Indonesia</option>-->
<!--                      <option value="Ireland">Ireland</option>-->
<!--                      <option value="Israel">Israel</option>-->
<!--                      <option value="Italy">Italy</option>-->
<!--                      <option value="Japan">Japan</option>-->
<!--                      <option value="Latvia">Latvia</option>-->
<!--                      <option value="Lithuania">Lithuania</option>-->
<!--                      <option value="Luxembourg">Luxembourg</option>-->
<!--                      <option value="Malaysia">Malaysia</option>-->
<!--                      <option value="Mexico">Mexico</option>-->
<!--                      <option value="Nepal">Nepal</option>-->
<!--                      <option value="Netherlands">Netherlands</option>-->
<!--                      <option value="New Zealand">New Zealand</option>-->
<!--                      <option value="Norway">Norway</option>-->
<!--                      <option value="Paraguay">Paraguay</option>-->
<!--                      <option value="Peru">Peru</option>-->
<!--                      <option value="Philippines">Philippines</option>-->
<!--                      <option value="Poland">Poland</option>-->
<!--                      <option value="Portugal">Portugal</option>-->
<!--                      <option value="Singapore">Singapore</option>-->
<!--                      <option value="Slovakia">Slovakia</option>-->
<!--                      <option value="Slovenia">Slovenia</option>-->
<!--                      <option value="South Africa">South Africa</option>-->
<!--                      <option value="South Korea">South Korea</option>-->
<!--                      <option value="Spain">Spain</option>-->
<!--                      <option value="Sweden">Sweden</option>-->
<!--                      <option value="Switzerland">Switzerland</option>-->
<!--                      <option value="Tanzania">Tanzania</option>-->
<!--                      <option value="Thailand">Thailand</option>-->
<!--                      <option value="Turkey">Turkey</option>-->
<!--                      <option value="United Kingdom">United Kingdom</option>-->
<!--                      <option value="United States">United States</option>-->
<!--                      <option value="Vietnam">Vietnam</option>-->
<!--                    </select>-->
<!--                  </div>-->
<!--                  <div class="form-group mt-3">-->
<!--                    <input class="form-input" type="text" id="location" placeholder="City">-->
<!--                  </div>-->
<!--                  <button class="main-btn btn-hover w-100 mt-3">Apply</button>-->
<!--                </div>-->
<!--              </div>-->
<!--              <a href="#filter-item-3" class="filter-step collapsed cate-right border-bottom-0" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="filter-item-3">Dates</a>-->
<!--              <div class="collapse" id="filter-item-3" data-bs-parent="#explore-filter-group">-->
<!--                <div class="date-group text-start">-->
<!--                  <div class="form-check">-->
<!--                    <input class="form-check-input" type="radio" name="dateRadioDefault" id="date-1" checked>-->
<!--                    <label class="form-check-label" for="date-1">-->
<!--                      All Dates-->
<!--                    </label>-->
<!--                  </div>-->
<!--                  <div class="form-check">-->
<!--                    <input class="form-check-input" type="radio" name="dateRadioDefault" id="date-2">-->
<!--                    <label class="form-check-label" for="date-2">-->
<!--                      Upcoming 30 Days-->
<!--                    </label>-->
<!--                  </div>-->
<!--                  <div class="form-check">-->
<!--                    <input class="form-check-input" type="radio" name="dateRadioDefault" id="date-3">-->
<!--                    <label class="form-check-label" for="date-3">-->
<!--                      Upcoming 20 Days-->
<!--                    </label>-->
<!--                  </div>-->
<!--                  <div class="form-check">-->
<!--                    <input class="form-check-input" type="radio" name="dateRadioDefault" id="date-4">-->
<!--                    <label class="form-check-label" for="date-4">-->
<!--                      Upcoming 10 Days-->
<!--                    </label>-->
<!--                  </div>-->
<!--                  <div class="form-check">-->
<!--                    <input class="form-check-input" type="radio" name="dateRadioDefault" id="date-5">-->
<!--                    <label class="form-check-label" for="date-5">-->
<!--                      Upcoming 10 Days-->
<!--                    </label>-->
<!--                  </div>-->
<!--                  <div class="form-check">-->
<!--                    <input class="form-check-input" type="radio" name="dateRadioDefault" id="date-6">-->
<!--                    <label class="form-check-label" for="date-6">-->
<!--                      Upcoming 5 Days-->
<!--                    </label>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
            </div>
          </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-12">
          <div class="explore-items">
            <div class="row">

              <div *ngFor="let pub of publications | filter:searchEvent" class="col-xl-4 col-lg-6 col-md-6">
                <div class="event-main-post">
                  <div class="main-photo">
                    <a href="event_detail_view.html">
                      <div class="photo-overlay"></div>
                      <img alt="" src="../../assets/images/homepage/center/arrireplan.png"> </a>
                    <div class="option-ellipsis">
                      <div class="dropdown">
                        <a aria-expanded="false" class="ellipsis-btn dropdown-toggle-no-caret" data-bs-toggle="dropdown" href="#" role="button"><i class="fas fa-ellipsis-v"></i></a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a class="post-link-item" href="#"><i class="feather-eye-off icon-mr1"></i>Ne plus voir</a>
                          <a class="post-link-item" href="#"><i class="feather-bookmark icon-mr1"></i>Sauvegarder</a>
                          <a class="post-link-item" href="#"><i class="feather-user icon-mr1"></i>Voir le Profil</a>
                          <a class="post-link-item" data-bs-target="#reportModal" data-bs-toggle="modal" href="#"><i class="feather-flag icon-mr1"></i>Signaler</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="event-body">
                    <span class="event-time">{{pub.date_realisation}}</span>
                    <a (click)="getDetails(pub.id)" class="event-title" routerLink=""> {{pub.event_name}} </a>
                    <span class="event-type">{{pub?.nom }} {{ pub?.prenom}}</span>
                    <p class="ingo-counter">
                      <span>{{pub?.nombrelike}} J'aime</span> <span>{{pub?.nombreComments}} commentaire(s)</span>
                    </p>
                    <div class="group-btns">
                      <button (click)="likePublication(pub?.id)" *ngIf="!pub.like_actived;else activated_like" class="interest-btn btn-hover">
                        <i class="feather-thumbs-up me-2"></i> J'aime
                      </button>
                      <ng-template #activated_like>
                        <button (click)="dislikePublication(pub?.id)" class="interest-btn-like btn-hover">
                          <i class="feather-thumbs-up me-2"></i> J'aime déjà
                        </button>
                      </ng-template>
                      <button class="share-btn btn-hover" data-bs-target="#shareModal" data-bs-toggle="modal">
                        <i class="feather-share-2"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="loading-btn mb-3">
                  <button class="process-btn btn-hover" type="button">
                    <i class="fa-solid fa-spinner fa-spin"></i>
                    Chargement...
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
