<div class="title-bar">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ol class="title-bar-text">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Discussion</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- Title Bar End -->
<!-- Body Start -->
<main class="discussion-mp">
  <div class="main-section">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-12">
          <button class="add-topic" type="button" data-bs-toggle="modal" data-bs-target="#add-discussion-model">Add New Topic</button>
          <div class="topic-categories-bg">
            <a href="#" class="category-topics active">All</a>
            <a href="#collapse1" class="category-topics cate-right" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse1">All Tags</a>
            <div class="collapse" id="collapse1">
              <ul class="tag-card">
                <li><a href="#" class="tag-item1">Music</a></li>
                <li><a href="#" class="tag-item1">Singer</a></li>
                <li><a href="#" class="tag-item1">Cricketer</a></li>
                <li><a href="#" class="tag-item1">Show</a></li>
                <li><a href="#" class="tag-item1">Social</a></li>
                <li><a href="#" class="tag-item1">Art</a></li>
                <li><a href="#" class="tag-item1">Tv</a></li>
                <li><a href="#" class="tag-item1">Tech</a></li>
                <li><a href="#" class="tag-item1">Fashion</a></li>
                <li><a href="#" class="tag-item1">Beauty</a></li>
                <li><a href="#" class="tag-item1">Health and Fitness</a></li>
                <li><a href="#" class="tag-item1">Festival</a></li>
                <li><a href="#" class="tag-item1">Film Promotion</a></li>
                <li><a href="#" class="tag-item1">Comedey</a></li>
                <li><a href="#" class="tag-item1">Club</a></li>
                <li><a href="#" class="tag-item1">Ilets</a></li>
              </ul>
            </div>
            <a href="#collapse2" class="category-topics cate-right" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse2">Categories</a>
            <div class="collapse" id="collapse2">
              <ul class="category-card">
                <li><a href="#" class="category-item1">Music</a></li>
                <li><a href="#" class="category-item1">Festival</a></li>
                <li><a href="#" class="category-item1">Art</a></li>
                <li><a href="#" class="category-item1">Club</a></li>
                <li><a href="#" class="category-item1">Comedey</a></li>
                <li><a href="#" class="category-item1">Sports</a></li>
                <li><a href="#" class="category-item1">Theatre</a></li>
                <li><a href="#" class="category-item1">Promotions</a></li>
                <li><a href="#" class="category-item1">Others</a></li>
              </ul>
            </div>
            <a href="#" class="category-topics">Latest</a>
            <a href="#" class="category-topics">New(22)</a>
            <a href="#" class="category-topics">Unread(3)</a>
            <a href="#" class="category-topics">Top</a>
          </div>
          <div class="google-ads-left d-none d-lg-block">
            <img src="images/discussion/ads.jpg" alt="">
          </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-12">
          <div class="all-discussions">
            <div class="discussion-heading">
              <h2>All Discussions</h2>
            </div>
            <div class="all-discussions-items">
              <div class="dis-item">
                <div class="row no-gutters">
                  <div class="col-xl-8 col-lg-12 col-md-12">
                    <div class="dis-img-text">
                      <img src="images/discussion/img-1.jpg" alt="">
                      <a href="single_discussion_view.html"><h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4></a>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-12 col-md-12">
                    <ul class="dis-reviews">
                      <li>
                        <a href="#">5 h</a>
                      </li>
                      <li>
                        <a href="#">3k views</a>
                      </li>
                      <li>
                        <a href="#">5 replies</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="dis-item">
                <div class="row no-gutters">
                  <div class="col-xl-8 col-lg-12 col-md-12">
                    <div class="dis-img-text">
                      <img src="images/discussion/img-2.jpg" alt="">
                      <a href="single_discussion_view.html"><h4>ellentesque vitae metus at neque cursus finibus.</h4></a>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-12 col-md-12">
                    <ul class="dis-reviews">
                      <li>
                        <a href="#">6 h</a>
                      </li>
                      <li>
                        <a href="#">6k views</a>
                      </li>
                      <li>
                        <a href="#">10 replies</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="dis-item">
                <div class="row no-gutters">
                  <div class="col-xl-8 col-lg-12 col-md-12">
                    <div class="dis-img-text">
                      <img src="images/discussion/img-3.jpg" alt="">
                      <a href="single_discussion_view.html"><h4>Cras vel lorem gravida, ullamcorper mi sed.</h4></a>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-12 col-md-12">
                    <ul class="dis-reviews">
                      <li>
                        <a href="#">6 h</a>
                      </li>
                      <li>
                        <a href="#">7k views</a>
                      </li>
                      <li>
                        <a href="#">15 replies</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="dis-item">
                <div class="row no-gutters">
                  <div class="col-xl-8 col-lg-12 col-md-12">
                    <div class="dis-img-text">
                      <img src="images/discussion/img-4.jpg" alt="">
                      <a href="single_discussion_view.html"><h4>Obortis risus. Nunc egestas arcu sit amet blandit finibus.</h4></a>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-12 col-md-12">
                    <ul class="dis-reviews">
                      <li>
                        <a href="#">7 h</a>
                      </li>
                      <li>
                        <a href="#">10k views</a>
                      </li>
                      <li>
                        <a href="#">50 replies</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="dis-item">
                <div class="row no-gutters">
                  <div class="col-xl-8 col-lg-12 col-md-12">
                    <div class="dis-img-text">
                      <img src="images/discussion/img-5.jpg" alt="">
                      <a href="single_discussion_view.html"><h4>Quisque in purus ut velit facilisis consequat ac id eros. </h4></a>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-12 col-md-12">
                    <ul class="dis-reviews">
                      <li>
                        <a href="#">7 h</a>
                      </li>
                      <li>
                        <a href="#">7.5k views</a>
                      </li>
                      <li>
                        <a href="#">48 replies</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="dis-item">
                <div class="row no-gutters">
                  <div class="col-xl-8 col-lg-12 col-md-12">
                    <div class="dis-img-text">
                      <img src="images/discussion/img-6.jpg" alt="">
                      <a href="single_discussion_view.html"><h4>Pellentesque semper urna est, non egestas massa vestibulum a.</h4></a>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-12 col-md-12">
                    <ul class="dis-reviews">
                      <li>
                        <a href="#">8 h</a>
                      </li>
                      <li>
                        <a href="#">8k views</a>
                      </li>
                      <li>
                        <a href="#">60 replies</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="dis-item">
                <div class="row no-gutters">
                  <div class="col-xl-8 col-lg-12 col-md-12">
                    <div class="dis-img-text">
                      <img src="images/discussion/img-7.jpg" alt="">
                      <a href="single_discussion_view.html"><h4>Nunc maximus mauris non tincidunt tincidunt.</h4></a>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-12 col-md-12">
                    <ul class="dis-reviews">
                      <li>
                        <a href="#">9 h</a>
                      </li>
                      <li>
                        <a href="#">8.2k views</a>
                      </li>
                      <li>
                        <a href="#">52 replies</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="dis-item">
                <div class="row no-gutters">
                  <div class="col-xl-8 col-lg-12 col-md-12">
                    <div class="dis-img-text">
                      <img src="images/discussion/img-8.jpg" alt="">
                      <a href="single_discussion_view.html"><h4>Sed vehicula, ligula quis efficitur suscipit, risus diam ultrices nisi.</h4></a>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-12 col-md-12">
                    <ul class="dis-reviews">
                      <li>
                        <a href="#">9 h</a>
                      </li>
                      <li>
                        <a href="#">9k views</a>
                      </li>
                      <li>
                        <a href="#">65 replies</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="dis-item">
                <div class="row no-gutters">
                  <div class="col-xl-8 col-lg-12 col-md-12">
                    <div class="dis-img-text">
                      <img src="images/discussion/img-9.jpg" alt="">
                      <a href="single_discussion_view.html"><h4>Etiam blandit, nisl sit amet mollis gravida, est ante porttitor dolor.</h4></a>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-12 col-md-12">
                    <ul class="dis-reviews">
                      <li>
                        <a href="#">10 h</a>
                      </li>
                      <li>
                        <a href="#">11k views</a>
                      </li>
                      <li>
                        <a href="#">95 replies</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="dis-item">
                <div class="row no-gutters">
                  <div class="col-xl-8 col-lg-12 col-md-12">
                    <div class="dis-img-text">
                      <img src="images/discussion/img-10.jpg" alt="">
                      <a href="single_discussion_view.html"><h4>Maecenas erat augue, venenatis vel lacus nec, blandit volutpat nisl.</h4></a>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-12 col-md-12">
                    <ul class="dis-reviews">
                      <li>
                        <a href="#">11 h</a>
                      </li>
                      <li>
                        <a href="#">10k views</a>
                      </li>
                      <li>
                        <a href="#">105 replies</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="blog-pagination">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <i class="fas fa-angle-left"></i>
                    </a>
                  </li>
                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">...</a></li>
                  <li class="page-item"><a class="page-link" href="#">12</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <i class="fas fa-angle-right"></i>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
