<div class="full-width mb-0 rrmt-30">
  <div class="messages-container">
    <div class="recipients-top-dt">
      <div class="msg-usr-dt">
        <div class="recipient-avatar">
          <img alt="" class="presence-entity__image nt-view-attr__img--centered" loading="lazy" src="../../../assets/images/find-peoples/lily.jpeg">
          <span class="chat-status online"></span>
        </div>
        <div class="recipient-user-dt">
          <a href="user_profile.html" target="_blank">Lily Zaman</a>
          <p class="user-last-seen"><span class="small-last-seen">2 d</span></p>
        </div>
      </div>
      <div class="usr-cht-opts-btns">
        <span class="option-icon"><i class="feather-phone"></i></span>
        <span class="option-icon"><i class="feather-video"></i></span>
        <span class="option-icon"><i class="feather-trash-2"></i></span>
      </div>
    </div>
    <div class="chat-container">
      <div class="chat-content">
        <ul class="chats-lists">
          <li class="you">
            <div class="chat-thumb"><img alt="" src="../../../assets/images/find-peoples/lily.jpeg"></div>
            <div class="notifi-event"><span class="chat-msg-item">Thanks</span> <span class="notifi-date"><time class="posted-date" datetime="2021-01-24T18:18">Today at 4:58pm</time></span>
            </div>
          </li>
          <li class="me">
            <div class="chat-thumb"><img alt="" src="../../../assets/images/dp.jpg"></div>
            <div class="notifi-event">
              <span class="chat-msg-item">Welcome dear</span> <span class="notifi-date"><time class="posted-date" datetime="2021-01-24T18:18">Today at 5:00pm</time></span>
            </div>
          </li>
        </ul>
      </div>

    </div>
    <form [formGroup]="formMessage"  class="send_messages_form" >
      <div class="send_input_group">
        <div class="msg_write_combo">
          <div class="add_files">
            <div class="img-add" data-placement="top" data-toggle="tooltip" title="Files, Photos and Videos">
              <input id="file1" type="file"> <label for="file1"><i class="feather-copy"></i></label>
            </div>
          </div>
          <textarea class="form-control custom-controls" formControlName="corps" placeholder="Écrivez un message..."></textarea>
          <div class="emoji-panel" data-placement="top" data-toggle="tooltip" title="Emoji">
            <button class="emoji-combo ml-2"><i class="fa-regular fa-face-smile"></i></button>
          </div>
          <div class="mic_recording-icon" data-placement="top" data-toggle="tooltip" title="Audio Recording">
            <button class="mic-record"><i class="feather-mic"></i></button>
          </div>
        </div>
        <span class="input-send-btn">
          <button (click)="sendMessage()" [disabled]="!formMessage.get('corps')?.value" class="btn-main btn-hover send-button" >
            <i class="feather-send"></i>
          </button>
        </span>
      </div>
    </form>
  </div>
</div>
