<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, shrink-to-fit=9" name="viewport">
  <meta content="Gambolthemes" name="description">
  <meta content="Gambolthemes" name="author">
  <title>Evenem Glamour</title>

</head>

<body>
<!-- Share Model Start -->
<div aria-hidden="true" aria-labelledby="shareModalLabel" class="modal fade" id="shareModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shareModalLabel">
          <span class="model-title-icon"><i class="feather-share-2"></i></span> Share Post </h5>
        <button aria-label="Close" class="btn-model-close btn-color" data-bs-dismiss="modal" type="button">
          <i class="feather-x"></i>
        </button>
      </div>
      <div class="modal-body p-0">
        <div class="share-copy-link share-copy-text">
          <p>Share this link to invite others</p>
          <ul>
            <li>
              <a data-bs-placement="top" data-bs-toggle="tooltip" href="#" title="Facebook"><img alt="" src="../../assets/images/share-icons/icon-1.png"></a>
            </li>
            <li>
              <a data-bs-placement="top" data-bs-toggle="tooltip" href="#" title="Twitter"><img alt="" src="../../assets/images/share-icons/icon-2.png"></a>
            </li>
            <li>
              <a data-bs-placement="top" data-bs-toggle="tooltip" href="#" title="Pinterest"><img alt="" src="../../assets/images/share-icons/icon-3.png"></a>
            </li>
            <li>
              <a data-bs-placement="top" data-bs-toggle="tooltip" href="#" title="LinkedIn"><img alt="" src="../../assets/images/share-icons/icon-4.png"></a>
            </li>
            <li>
              <a data-bs-placement="top" data-bs-toggle="tooltip" href="#" title="Whatsapp"><img alt="" src="../../assets/images/share-icons/icon-5.png"></a>
            </li>
            <li>
              <a data-bs-placement="top" data-bs-toggle="tooltip" href="#" title="Instagram"><img alt="" src="../../assets/images/share-icons/icon-6.png"></a>
            </li>
            <li>
              <a data-bs-placement="top" data-bs-toggle="tooltip" href="#" title="Copy Link"><img alt="" src="../../assets/images/share-icons/icon-7.png"></a>
            </li>
          </ul>
        </div>

        <div class="">
          <div class="contact-list-area pt-4 pe-4 ps-4">
            <div class="contact-search-area position-relative">
              <input class="control-input" placeholder="Search People" type="text"> <i class="feather-search"></i>
            </div>
          </div>
          <div class="contact-list pt-3 p-4">
            <div class="sugguest-user px-0 py-2 border-top-0">
              <div class="sugguest-user-dt">
                <a href="user_profile.html"><img alt="" src="../../assets/images/homepage/left-side/left-img-1.jpg"></a>
                <a href="user_profile.html"><h4>Johnson</h4></a>
              </div>
              <button class="request-btn" data-bs-placement="top" data-bs-toggle="tooltip" title="Send">
                <i class="feather-mail"></i></button>
            </div>
            <div class="sugguest-user px-0 py-2 border-top-0">
              <div class="sugguest-user-dt">
                <a href="user_profile.html"><img alt="" src="../../assets/images/homepage/left-side/left-img-2.jpg"></a>
                <a href="user_profile.html"><h4>Jassica William</h4></a>
              </div>
              <button class="request-btn" data-bs-placement="top" data-bs-toggle="tooltip" title="Send">
                <i class="feather-mail"></i></button>
            </div>
            <div class="sugguest-user px-0 py-2 border-top-0">
              <div class="sugguest-user-dt">
                <a href="user_profile.html"><img alt="" src="../../assets/images/homepage/left-side/left-img-3.jpg"></a>
                <a href="user_profile.html"><h4>Rock</h4></a>
              </div>
              <button class="request-btn" data-bs-placement="top" data-bs-toggle="tooltip" title="Send">
                <i class="feather-mail"></i></button>
            </div>
            <div class="sugguest-user px-0 py-2 border-top-0">
              <div class="sugguest-user-dt">
                <a href="user_profile.html"><img alt="" src="../../assets/images/homepage/left-side/left-img-4.jpg"></a>
                <a href="user_profile.html"><h4>Davil Smith</h4></a>
              </div>
              <button class="request-btn" data-bs-placement="top" data-bs-toggle="tooltip" title="Send">
                <i class="feather-mail"></i></button>
            </div>
            <div class="sugguest-user px-0 py-2 border-top-0">
              <div class="sugguest-user-dt">
                <a href="user_profile.html"><img alt="" src="../../assets/images/homepage/left-side/left-img-5.jpg"></a>
                <a href="user_profile.html"><h4>Ricky Doe</h4></a>
              </div>
              <button class="request-btn" data-bs-placement="top" data-bs-toggle="tooltip" title="Send">
                <i class="feather-mail"></i></button>
            </div>
            <div class="sugguest-user px-0 py-2 border-top-0">
              <div class="sugguest-user-dt">
                <a href="user_profile.html"><img alt="" src="../../assets/images/find-peoples/user-6.jpg"></a>
                <a href="user_profile.html"><h4>Johnson Dua</h4></a>
              </div>
              <button class="request-btn" data-bs-placement="top" data-bs-toggle="tooltip" title="Send">
                <i class="feather-mail"></i></button>
            </div>
            <div class="sugguest-user px-0 py-2 border-top-0">
              <div class="sugguest-user-dt">
                <a href="user_profile.html"><img alt="" src="../../assets/images/find-peoples/user-7.jpg"></a>
                <a href="user_profile.html"><h4>Albert William</h4></a>
              </div>
              <button class="request-btn" data-bs-placement="top" data-bs-toggle="tooltip" title="Send">
                <i class="feather-mail"></i></button>
            </div>
            <div class="sugguest-user px-0 py-2 border-top-0">
              <div class="sugguest-user-dt">
                <a href="user_profile.html"><img alt="" src="../../assets/images/find-peoples/user-8.jpg"></a>
                <a href="user_profile.html"><h4>Lizzy Smith</h4></a>
              </div>
              <button class="request-btn" data-bs-placement="top" data-bs-toggle="tooltip" title="Send">
                <i class="feather-mail"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="co-main-btn cancel-btn" data-bs-dismiss="modal">Cancel</button>
        <button class="main-btn color btn-hover">Share</button>
      </div>
    </div>
  </div>
</div>
<header>
  <nav class="navbar navbar-expand-lg custom-navbar bg-dark1 justify-content-sm-start">
    <div class="container">
      <button aria-controls="offcanvasNavbar" class="navbar-toggler align-self-start" data-bs-target="#offcanvasNavbar" data-bs-toggle="offcanvas" type="button">
						<span class="custom-toggler-icon">
							<i class="feather-menu"></i>
						</span>
      </button>
      <a class="order-lg-0 ml-lg-0 ml-3 me-auto logo-style" routerLink="/admin"><img alt="" height="30px" src="../../assets/images/fav-eg.png"></a>
      <a class="order-lg-0 ml-lg-0 ml-3 me-auto logo-style" routerLink="/admin"><img alt="" height="30px" src="../../assets/images/logo-eg-large.png"></a>
      <div aria-labelledby="offcanvasNavbarLabel" class="offcanvas offcanvas-start" id="offcanvasNavbar" tabindex="-1">
        <div class="offcanvas-header">
          <div class="offcanvas-logo" id="offcanvasNavbarLabel">
            <img alt="" src="../../assets/images/logo.svg">
          </div>
          <button aria-label="Close" class="close-btn" data-bs-dismiss="offcanvas" type="button">
            <i class="feather-x"></i>
          </button>
        </div>
        <div class="offcanvas-body">
          <div class="offcanvas-search navbar-search position-relative d-block d-lg-none d-xl-block">
            <!--            <form (ngSubmit)="onSearch()">-->
            <!--              <div class="input-group">-->
            <!--                <input [(ngModel)]="searchTerm" aria-label="Search" class="form-control shadow-none border-0" name="recherche" placeholder="Rechercher des évènements ..." type="text">-->
            <!--                <div class="input-group-append">-->
            <!--                  <button class="btn">-->
            <!--                    <i class="feather-search"></i>-->
            <!--                  </button>-->
            <!--                </div>-->
            <!--              </div>-->
            <!--            </form>-->
          </div>
          <a class="add-event-btn btn-hover d-block d-lg-none" href="#">Ajouter nouvel évènement</a>
          <ul class="navbar-nav justify-content-end flex-grow-1 pe_5">
            <li *ngFor="let menuItem of menuItems" class="nav-item">
              <a aria-current="page" class="nav-link" routerLink="{{menuItem.path}}">
                  <span class="nav-icon d-lg-none me-3">
                    <i class="feather-home"></i>
                  </span>{{menuItem.title}}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <ul class="group-icons">
        <li class="dropdown d-lg-inline-block d-none d-xl-none nav-icon iq-show">
          <a aria-expanded="false" class="icon-set" data-bs-toggle="dropdown" href="#" role="button">
            <i class="feather-search"></i> </a>
          <div class="dropdown-menu dropdown-list dropdown-menu-end p-2 search-box">
            <div class="position-relative">
              <input class="form-control dsearch-box" placeholder="Search events by categories...">
              <i class="feather-search search-icon"></i>
            </div>
          </div>
        </li>

      </ul>
      <div class="account dropdown">
        <a aria-expanded="false" class="account-link dropdown-toggle-no-caret" data-bs-auto-close="outside" data-bs-toggle="dropdown" href="#" id="dropdownMenuClickableInside">
          <div class="user-dp"><img alt="" src="../../assets/images/dp.jpg"></div>
          <i class="feather-chevron-down ms-2"></i> </a>
        <div aria-labelledby="dropdownMenuClickableInside" class="dropdown-menu dropdown-account dropdown-menu-end">
          <div *ngFor="let profilMenuItem of profilMenuItems">
            <a class="link-item" routerLink="{{profilMenuItem.path}}"><i class="{{profilMenuItem.icon}}"></i>{{profilMenuItem.title}}
            </a>
          </div>
          <button (click)="logout()" class="link-item"><i class="feather-log-out me-3"></i>Déconnexion</button>
        </div>
      </div>
    </div>
  </nav>
</header>
<!-- Header End -->
<!-- Body Start -->
<router-outlet></router-outlet>

<!-- Body End -->
<!-- Footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="footer-left">
          <ul>
            <li><a href="privacy_policy.html">Privée</a></li>
            <li><a href="term_conditions.html">Termes et Conditions</a></li>
            <li><a href="about.html">A Propos</a></li>
            <li><a href="contact_us.html">Contactez-nous</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="footer-right">
          <ul class="copyright-text">
            <li><a routerLink="/home"><img alt="" height="25px" src="../../assets/images/fav-eg-white.jpg"></a></li>
            <li>
              <div class="ftr-1"><i class="far fa-copyright"></i> 2023 Evenemglamour by
                <a href="#">YTT</a>. Tous droits Réservées.
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer End -->
<!-- Scripts js -->
<script src="js/jquery-3.6.0.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="vendor/OwlCarousel/owl.carousel.js"></script>
<script src="js/datepicker.min.js"></script>
<script src="js/i18n/datepicker.en.js"></script>
<script src="js/custom.js"></script>

</body>

</html>

