<main>
  <div class="main-section">
    <div class="container">
      <div class="row">
        <div class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
          <div class="center-section">
            <div class="main-search-bar">
              <form>
                <div class="main-search-inputs main-form">
                  <div class="row g-3">
                    <div class="col-lg-10 col-md-12 col-sm-12">
                      <input class="search-form-input" placeholder="Quoi de neuf ? {{user_connected?.nom}} " type="text">
                    </div>
                    <div class="col-lg-2 col-md-12 col-sm-12">
                      <button class="search-btn" routerLink="/home/new-event" type="submit">
                        <i class="feather-arrow-right"></i><span>Rechercher</span>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="main-tabs">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-bs-toggle="tab" href="#tab-top">Évènements récents</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-top">
                  <div class="main-posts">
                    <div class="row">
                      <div *ngFor="let pub of publications | slice:(page-1)*pageSize:page*pageSize" class="col-md-6">
                        <div class="event-main-post">
                          <div class="main-photo">
                            <a (click)="getDetails(pub?.id)"  style="cursor: pointer">
                              <div class="photo-overlay"></div>
                              <div *ngIf="pub?.couverture_photo!=null;else defaultImage">
                                <img height="200px" alt="" src="{{env}}/Image/getimage/{{pub?.couverture_photo}}">
                              </div>
                              <ng-template #defaultImage>
                                <img alt="" src="../../assets/images/homepage/center/arrireplan.png">
                              </ng-template>
                            </a>
                            <div class="option-ellipsis">
                              <div class="dropdown">
                                <a aria-expanded="false" class="ellipsis-btn dropdown-toggle-no-caret" data-bs-toggle="dropdown" style="cursor:pointer;" role="button"><i class="fas fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-end">
                                  <a (click)="updateButton(pub)" *ngIf="pub?.utilisateur_id==user_connected.id" class="post-link-item" style="cursor: pointer"><i class="feather-edit-2 icon-mr1"></i>Modifier</a>
                                  <a class="post-link-item" href="#"><i class="feather-bookmark icon-mr1"></i>Sauvegarder</a>
                                  <a (click)="goToUser(pub?.utilisateur_id)" class="post-link-item" style="cursor: pointer"><i class="feather-user icon-mr1"></i>Voir le Profil</a>
                                  <a *ngIf="pub?.utilisateur_id!=user_connected.id" class="post-link-item" data-bs-target="#reportModal" data-bs-toggle="modal" href="#"><i class="feather-flag icon-mr1"></i>Signaler</a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="event-body">
                            <span class="event-time">{{pub.date_realisation}}</span>
                            <a (click)="getDetails(pub?.id)" class="event-title" routerLink=""> {{pub.event_name}} </a>
                            <span class="event-type">{{pub?.nom }} {{ pub?.prenom}}</span>
                            <p class="ingo-counter">
                              <span>{{pub?.nombrelike}} J'aime</span>
                              <span>{{pub?.nombreComments}} commentaire(s)</span>
                            </p>
                            <div class="group-btns">
                              <button (click)="likePublication(pub?.id)" *ngIf="!pub.like_actived;else activated_like" class="interest-btn btn-hover">
                                <i class="feather-thumbs-up me-2"></i> J'aime
                              </button>
                              <ng-template #activated_like>
                                <button (click)="dislikePublication(pub?.id)" class="interest-btn-like btn-hover">
                                  <i class="feather-thumbs-up me-2"></i> J'aime déjà
                                </button>
                              </ng-template>
<!--                              <button class="share-btn btn-hover" data-bs-target="#shareModal" data-bs-toggle="modal">-->
<!--                                <i class="feather-share-2"></i></button>-->
                            </div>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="publications?.length==0" class="col-md-12">
                        <div class="loading-btn">
                          Pas d'évènements récents
                        </div>
                      </div>
                      <div *ngIf="publications?.length!=0" class="col-md-12">
                        <div class="loading-btn">
                          <button class="process-btn btn-hover" routerLink="/home/explore">
                            <i class="fa-solid fa-spinner fa-spin"></i> Voir Plus dans Explore
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="tab-local">
                  <div class="main-posts">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="event-main-post">
                          <div class="main-photo">
                            <a href="event_detail_view.html">
                              <div class="photo-overlay"></div>
                              <img alt="" src="../../assets/images/homepage/center/post-img-1.jpg"> </a>
                            <div class="option-ellipsis">
                              <div class="dropdown">
                                <a aria-expanded="false" class="ellipsis-btn dropdown-toggle-no-caret" data-bs-toggle="dropdown" href="#" role="button"><i class="fas fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-end">
                                  <a class="post-link-item" href="#"><i class="feather-eye-off icon-mr1"></i>Hide</a>
                                  <a class="post-link-item" href="#"><i class="feather-bookmark icon-mr1"></i>Save</a>
                                  <a class="post-link-item" href="#"><i class="feather-user icon-mr1"></i>User Profile</a>
                                  <a class="post-link-item" data-bs-target="#reportModal" data-bs-toggle="modal" href="#"><i class="feather-flag icon-mr1"></i>Report</a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="event-body">
                            <span class="event-time">thu,30 june 2022 at 3.00 pm</span>
                            <a class="event-title" href="event_detail_view.html">Event Title Here</a>
                            <span class="event-type">Ludhiana</span>
                            <p class="ingo-counter">
                              <span>25 Interested</span> <span>11 Going</span>
                            </p>
                            <div class="group-btns">
                              <button class="interest-btn btn-hover"><i class="feather-star me-2"></i>Interested
                              </button>
                              <button class="share-btn btn-hover" data-bs-target="#shareModal" data-bs-toggle="modal">
                                <i class="feather-share-2"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="loading-btn">
                          <button class="process-btn btn-hover" type="button">
                            <i class="fa-solid fa-spinner fa-spin"></i> Chargement...
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="tab-this-week">
                  <div class="main-posts">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="event-main-post">
                          <div class="main-photo">
                            <a href="event_detail_view.html">
                              <div class="photo-overlay"></div>
                              <img alt="" src="../../assets/images/homepage/center/post-img-1.jpg"> </a>
                            <div class="option-ellipsis">
                              <div class="dropdown">
                                <a aria-expanded="false" class="ellipsis-btn dropdown-toggle-no-caret" data-bs-toggle="dropdown" href="#" role="button"><i class="fas fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-end">
                                  <a class="post-link-item" href="#"><i class="feather-eye-off icon-mr1"></i>Hide</a>
                                  <a class="post-link-item" href="#"><i class="feather-bookmark icon-mr1"></i>Save</a>
                                  <a class="post-link-item" href="#"><i class="feather-user icon-mr1"></i>User Profile</a>
                                  <a class="post-link-item" data-bs-target="#reportModal" data-bs-toggle="modal" href="#"><i class="feather-flag icon-mr1"></i>Report</a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="event-body">
                            <span class="event-time">thu,30 june 2022 at 3.00 pm</span>
                            <a class="event-title" href="event_detail_view.html">Event Title Here</a>
                            <span class="event-type">Ludhiana</span>
                            <p class="ingo-counter">
                              <span>25 Interested</span> <span>11 Going</span>
                            </p>
                            <div class="group-btns">
                              <button class="interest-btn btn-hover"><i class="feather-star me-2"></i>Interested
                              </button>
                              <button class="share-btn btn-hover" data-bs-target="#shareModal" data-bs-toggle="modal">
                                <i class="feather-share-2"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="loading-btn">
                          <button class="process-btn btn-hover" type="button">
                            <i class="fa-solid fa-spinner fa-spin"></i> Chargment...
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="tab-classes">
                  <div class="main-posts">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="event-main-post">
                          <div class="main-photo">
                            <a href="event_detail_view.html">
                              <div class="photo-overlay"></div>
                              <img alt="" src="../../assets/images/homepage/center/post-img-2.jpg"> </a>
                            <div class="option-ellipsis">
                              <div class="dropdown">
                                <a aria-expanded="false" class="ellipsis-btn dropdown-toggle-no-caret" data-bs-toggle="dropdown" href="#" role="button"><i class="fas fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-end">
                                  <a class="post-link-item" href="#"><i class="feather-eye-off icon-mr1"></i>Hide</a>
                                  <a class="post-link-item" href="#"><i class="feather-bookmark icon-mr1"></i>Save</a>
                                  <a class="post-link-item" href="#"><i class="feather-user icon-mr1"></i>User Profile</a>
                                  <a class="post-link-item" data-bs-target="#reportModal" data-bs-toggle="modal" href="#"><i class="feather-flag icon-mr1"></i>Report</a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="event-body">
                            <span class="event-time">thu,30 june 2022 at 3.00 pm</span>
                            <a class="event-title" href="event_detail_view.html">Event Title Here</a>
                            <span class="event-type">Online</span>
                            <p class="ingo-counter">
                              <span>25 Interested</span> <span>11 Going</span>
                            </p>
                            <div class="group-btns">
                              <button class="interest-btn btn-hover"><i class="feather-star me-2"></i>Interested
                              </button>
                              <button class="share-btn btn-hover" data-bs-target="#shareModal" data-bs-toggle="modal">
                                <i class="feather-share-2"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="loading-btn">
                          <button class="process-btn btn-hover" type="button">
                            No More
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="tab-friends">
                  <div class="full-width">
                    <div class="no-events">
                      <div class="no-event-icon">
                        <!-- <img src="../../assets/images/icon-calendar.png" alt=""> -->
                      </div>
                      <span>Pas d'évènements trouvés.</span>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="tab-online">
                  <div class="main-posts">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="event-main-post">
                          <div class="main-photo">
                            <a href="event_detail_view.html">
                              <div class="photo-overlay"></div>
                              <img alt="" src="../../assets/images/homepage/center/post-img-2.jpg"> </a>
                            <div class="option-ellipsis">
                              <div class="dropdown">
                                <a aria-expanded="false" class="ellipsis-btn dropdown-toggle-no-caret" data-bs-toggle="dropdown" href="#" role="button"><i class="fas fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-end">
                                  <a class="post-link-item" href="#"><i class="feather-eye-off icon-mr1"></i>Hide</a>
                                  <a class="post-link-item" href="#"><i class="feather-bookmark icon-mr1"></i>Save</a>
                                  <a class="post-link-item" href="#"><i class="feather-user icon-mr1"></i>User Profile</a>
                                  <a class="post-link-item" data-bs-target="#reportModal" data-bs-toggle="modal" href="#"><i class="feather-flag icon-mr1"></i>Report</a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="event-body">
                            <span class="event-time">thu,30 june 2022 at 3.00 pm</span>
                            <a class="event-title" href="event_detail_view.html">Event Title Here</a>
                            <span class="event-type">Online</span>
                            <p class="ingo-counter">
                              <span>25 Interested</span> <span>11 Going</span>
                            </p>
                            <div class="group-btns">
                              <button class="interest-btn btn-hover"><i class="feather-star me-2"></i>Interested
                              </button>
                              <button class="share-btn btn-hover" data-bs-target="#shareModal" data-bs-toggle="modal">
                                <i class="feather-share-2"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="loading-btn">
                          <button class="process-btn btn-hover" type="button">
                            No More
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="tab-following">
                  <div class="full-width">
                    <div class="no-events">
                      <div class="no-event-icon">
                        <!-- <img src="../../assets/images/icon-calendar.png" alt=""> -->
                      </div>
                      <span>Pas d'évènements trouvés.</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-12 col-12">
          <div class="main-left-sidebar mt-5 mt-lg-5 mt-xl-0">
            <div class="user-data full-width">
              <div class="user-profile">
                <div class="username-dt dpbg-1">
                  <div class="usr-pic">
                    <div *ngIf="user_connected?.profil_photo!=null;else defaultImage">
                      <img class="circle-image" alt="" width="100px" alt="" src="{{env}}/Image/getimage/{{user_connected?.profil_photo}}">
                    </div>
                    <ng-template #defaultImage>
                      <img alt="" src="../../assets/images/homepage/left-side/dp.png">
                    </ng-template>
                  </div>
                </div>
                <div class="user-main-details">
                  <h4>{{user_connected?.nom}} {{user_connected?.prenom}}</h4>
                  <span><i class="feather-map-pin"></i>France</span>
                </div>
                <div class="profile-link">
                  <a routerLink="/home/profile">Voir Profil</a>
                </div>
              </div>
            </div>
            <div class="user-data full-width">
              <div class="categories-left-heading">
                <h3>Categories</h3>
              </div>
              <div class="categories-items">
                <div class="categories-container">
                  <a (click)="loadAll()" class="category-item" style="cursor:pointer;">
                    <img alt="Music" src="../../assets/images/category-icons/icon-all.png">Tous </a>
                  <a (click)="getEventByCategorie(cat?.id)" *ngFor="let cat of categories" class="category-item" style="cursor:pointer;">
                    <img alt="Music" src="../../assets/images/category-icons/icon-all.png">{{cat.nom}}
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-12 col-12">
          <div class="right-side-items mt-0 mt-md-5 mt-lg-5 mt-xl-0">
            <div class="post-event">
              <h6>Tu veux poster tes évènements ? </h6>
              <p>Publiez gratuitement votre événement sur Goeveni. Créez simplement un compte et ajoutez-le via le formulaire simple. Aussi simple que cela.</p>
              <a class="add-nw-event" routerLink="/home/new-event">Postez-le maintenant</a>
            </div>
            <div class="explore-events">
              <h4>Découvrez les évènements</h4>
              <div class="explore-events-dt">
                <div class="row g-2">
                  <div class="col-6">
                    <a href="#">
                      <div class="explore-card light-blue">
                        <div class="explore-item-1">
                          <div class="explore-icon-bg icon-large-1">
                            <i class="fas fa-sun"></i>
                          </div>
                          <div class="explore-content">
                            <i class="feather-sun"></i> <span>Aujourd'hui</span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-6">
                    <a href="#">
                      <div class="explore-card light-yellow">
                        <div class="explore-item-1">
                          <div class="explore-icon-bg icon-large-1">
                            <i class="feather-sun"></i>
                          </div>
                          <div class="explore-content">
                            <i class="feather-sun"></i> <span>Demain</span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-6">
                    <a href="#">
                      <div class="explore-card dark-blue">
                        <div class="explore-item-1">
                          <div class="explore-icon-bg icon-large-1">
                            <i class="feather-calendar"></i>
                          </div>
                          <div class="explore-content">
                            <i class="feather-calendar"></i> <span>Cette semaine</span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-6">
                    <a href="#">
                      <div class="explore-card light-green">
                        <div class="explore-item-1">
                          <div class="explore-icon-bg icon-large-1">
                            <i class="fas fa-calendar-check"></i>
                          </div>
                          <div class="explore-content">
                            <i class="feather-calendar"></i> <span>Choisir une date</span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<ngx-spinner [fullScreen]="true" bdColor="rgb(2 2 2 / 90%)" color="#fff" size="medium" type="ball-scale-multiple">
  <p style="font-size: 18px; color: white">Chargement des données...</p>
</ngx-spinner>

<div *ngIf="event_updated!=null" [ngStyle]="{'display':displayStyle}" class="modal" style="backdrop-filter: blur(3px);margin-top: 1%;">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: #ececec">
      <div class="modal-body">
        <h2 class="modal-title" style="padding:2% 5%; text-align: center">Mis à jour de la publication </h2>
        <hr>
        <p style="color: rgb(255, 0, 0);">{{errorMessage}}</p>
        <form (ngSubmit)="updatePublication()" [formGroup]="formEventUpdate">
          <div class="container">
            <div class="row">
              <div class="form-group mt-4">
                <label class="form-label">Nom de l'évènement</label>
                <input [(ngModel)]="event_updated.event_name" class="form-input" formControlName="event_name" placeholder="Nom de l'évènement" type="text">
              </div>
              <div class="form-group mt-4">
                <label class="form-label">Lieu</label>
                <input [(ngModel)]="event_updated.lieu" class="form-input" formControlName="lieu" placeholder="Lieu de l'évènement" type="text">
              </div>
              <div class="form-group mt-4">
                <label class="form-label">Date de réalisation</label>
                <input [(ngModel)]="event_updated.date_realisation" class="search-form-input datepicker-here" data-language='en' formControlName="date_realisation" formControlName="date_realisation" type="datetime-local">
              </div>
              <div class="form-group mt-4">
                <label class="form-label">Lien du ticket</label>
                <input [(ngModel)]="event_updated.payement_link" class="form-input" formControlName="payement_link" placeholder="https://" type="text">
                <span class="small-des">Ajouter un lien vers votre site de ticket</span>
              </div>
              <div class="form-group mt-4">
                <label class="form-label">Description</label>
                <textarea [(ngModel)]="event_updated.description" class="form-textarea" formControlName="description" placeholder="Descrivez votre évènement en quelques mots"></textarea>
                <span class="small-des">Fournissez plus d'informations sur votre événement afin que les invités sachent à quoi s'attendre..</span>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button (click)="closePopup()" class="co-main-btn cancel-btn" data-bs-dismiss="modal" type="button">Annuler</button>
            <button [disabled]="!formEventUpdate.dirty" class="main-btn btn-hover" data-bs-dismiss="modal">Modifier</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
