<main>
  <div class="main-section">
    <div class="container">
      <div class="row">
        <div class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
          <div class="center-section">
            <div class="main-search-bar">
              <h2>Evenements dans votre ville</h2>
              <form>
                <div class="main-search-inputs main-form">
                  <div class="row g-3">
                    <div class="col-lg-5 col-md-12 col-sm-12">
                      <input class="search-form-input" type="text" placeholder="Evènements ">
                    </div>
                    <div class="col-lg-5 col-md-12 col-sm-12">
                      <input class="search-form-input datepicker-here" data-language='en' type="date" placeholder="Selectionner la date">
                    </div>
                    <div class="col-lg-2 col-md-12 col-sm-12">
                      <button class="search-btn" type="submit"><i class="feather-search"></i><span>Search</span></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="main-search-bar">
              <form >
                <div class="main-search-inputs main-form">
                  <div class="row g-3">
                    <div class="col-lg-10 col-md-12 col-sm-12">
                      <input class="search-form-input" type="text" placeholder="Quoi de neuf ?  ">
                    </div>
                    <div class="col-lg-2 col-md-12 col-sm-12">
                      <button class="search-btn" type="submit"><i class="feather-arrow-right"></i><span>Search</span></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="main-tabs">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a href="#tab-top" class="nav-link active" data-bs-toggle="tab">Meilleurs classements</a>
                </li>
                <li class="nav-item">
                  <a href="#tab-local" class="nav-link" data-bs-toggle="tab">Local</a>
                </li>
                <li class="nav-item">
                  <a href="#tab-this-week" class="nav-link" data-bs-toggle="tab">Cette semaine</a>
                </li>
                <li class="nav-item">
                  <a href="#tab-friends" class="nav-link" data-bs-toggle="tab">Amis</a>
                </li>
                <li class="nav-item">
                  <a href="#tab-following" class="nav-link" data-bs-toggle="tab">Suivi</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-top">
                  <div class="main-posts">
                    <div class="row">
                      <div *ngFor="let pub of publications" class="col-md-6">
                        <div class="event-main-post">
                          <div class="main-photo">
                            <a href="event_detail_view.html">
                              <div class="photo-overlay"></div>
                              <img src="../../assets/images/homepage/center/arrireplan.png" alt="">
                            </a>
                            <div class="option-ellipsis">
                              <div class="dropdown">
                                <a class="ellipsis-btn dropdown-toggle-no-caret"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-end">
                                  <a class="post-link-item" href="#"><i class="feather-eye-off icon-mr1"></i>Ne plus voir</a>
                                  <a class="post-link-item" href="#"><i class="feather-bookmark icon-mr1"></i>Sauvegarder</a>
                                  <a class="post-link-item" href="#"><i class="feather-user icon-mr1"></i>Voir le Profil</a>
                                  <a class="post-link-item" href="#" data-bs-toggle="modal" data-bs-target="#reportModal"><i class="feather-flag icon-mr1"></i>Signaler</a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="event-body">
                            <span class="event-time">{{pub.date_realisation}}</span>
                            <a  routerLink="" (click)="getDetails(pub.id)" class="event-title"> {{pub.event_name}}</a>
                            <span class="event-type">{{pub.nom }} {{ pub.prenom}}</span>
                            <p class="ingo-counter">
                              <span>25 Interessés</span>
                              <span>11 suivi</span>
                            </p>
                            <div class="group-btns">
                              <button class="interest-btn btn-hover"><i class="feather-star me-2"></i>Interessé(e)</button>
                              <button class="share-btn btn-hover" data-bs-toggle="modal" data-bs-target="#shareModal"><i class="feather-share-2"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="loading-btn">
                          <button class="process-btn btn-hover" type="button">
                            <i class="fa-solid fa-spinner fa-spin"></i>
                            Chargement...
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="tab-local">
                  <div class="main-posts">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="event-main-post">
                          <div class="main-photo">
                            <a href="event_detail_view.html">
                              <div class="photo-overlay"></div>
                              <img src="../../assets/images/homepage/center/post-img-1.jpg" alt="">
                            </a>
                            <div class="option-ellipsis">
                              <div class="dropdown">
                                <a class="ellipsis-btn dropdown-toggle-no-caret"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-end">
                                  <a class="post-link-item" href="#"><i class="feather-eye-off icon-mr1"></i>Hide</a>
                                  <a class="post-link-item" href="#"><i class="feather-bookmark icon-mr1"></i>Save</a>
                                  <a class="post-link-item" href="#"><i class="feather-user icon-mr1"></i>User Profile</a>
                                  <a class="post-link-item" href="#" data-bs-toggle="modal" data-bs-target="#reportModal"><i class="feather-flag icon-mr1"></i>Report</a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="event-body">
                            <span class="event-time">thu,30 june 2022 at 3.00 pm</span>
                            <a href="event_detail_view.html" class="event-title">Event Title Here</a>
                            <span class="event-type">Ludhiana</span>
                            <p class="ingo-counter">
                              <span>25 Interested</span>
                              <span>11 Going</span>
                            </p>
                            <div class="group-btns">
                              <button class="interest-btn btn-hover"><i class="feather-star me-2"></i>Interested</button>
                              <button class="share-btn btn-hover" data-bs-toggle="modal" data-bs-target="#shareModal"><i class="feather-share-2"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="loading-btn">
                          <button class="process-btn btn-hover" type="button">
                            <i class="fa-solid fa-spinner fa-spin"></i>
                            Chargement...
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="tab-this-week">
                  <div class="main-posts">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="event-main-post">
                          <div class="main-photo">
                            <a href="event_detail_view.html">
                              <div class="photo-overlay"></div>
                              <img src="../../assets/images/homepage/center/post-img-1.jpg" alt="">
                            </a>
                            <div class="option-ellipsis">
                              <div class="dropdown">
                                <a class="ellipsis-btn dropdown-toggle-no-caret"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-end">
                                  <a class="post-link-item" href="#"><i class="feather-eye-off icon-mr1"></i>Hide</a>
                                  <a class="post-link-item" href="#"><i class="feather-bookmark icon-mr1"></i>Save</a>
                                  <a class="post-link-item" href="#"><i class="feather-user icon-mr1"></i>User Profile</a>
                                  <a class="post-link-item" href="#" data-bs-toggle="modal" data-bs-target="#reportModal"><i class="feather-flag icon-mr1"></i>Report</a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="event-body">
                            <span class="event-time">thu,30 june 2022 at 3.00 pm</span>
                            <a href="event_detail_view.html" class="event-title">Event Title Here</a>
                            <span class="event-type">Ludhiana</span>
                            <p class="ingo-counter">
                              <span>25 Interested</span>
                              <span>11 Going</span>
                            </p>
                            <div class="group-btns">
                              <button class="interest-btn btn-hover"><i class="feather-star me-2"></i>Interested</button>
                              <button class="share-btn btn-hover" data-bs-toggle="modal" data-bs-target="#shareModal"><i class="feather-share-2"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="loading-btn">
                          <button class="process-btn btn-hover" type="button">
                            <i class="fa-solid fa-spinner fa-spin"></i>
                            Chargment...
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="tab-classes">
                  <div class="main-posts">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="event-main-post">
                          <div class="main-photo">
                            <a href="event_detail_view.html">
                              <div class="photo-overlay"></div>
                              <img src="../../assets/images/homepage/center/post-img-2.jpg" alt="">
                            </a>
                            <div class="option-ellipsis">
                              <div class="dropdown">
                                <a class="ellipsis-btn dropdown-toggle-no-caret"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-end">
                                  <a class="post-link-item" href="#"><i class="feather-eye-off icon-mr1"></i>Hide</a>
                                  <a class="post-link-item" href="#"><i class="feather-bookmark icon-mr1"></i>Save</a>
                                  <a class="post-link-item" href="#"><i class="feather-user icon-mr1"></i>User Profile</a>
                                  <a class="post-link-item" href="#" data-bs-toggle="modal" data-bs-target="#reportModal"><i class="feather-flag icon-mr1"></i>Report</a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="event-body">
                            <span class="event-time">thu,30 june 2022 at 3.00 pm</span>
                            <a href="event_detail_view.html" class="event-title">Event Title Here</a>
                            <span class="event-type">Online</span>
                            <p class="ingo-counter">
                              <span>25 Interested</span>
                              <span>11 Going</span>
                            </p>
                            <div class="group-btns">
                              <button class="interest-btn btn-hover"><i class="feather-star me-2"></i>Interested</button>
                              <button class="share-btn btn-hover" data-bs-toggle="modal" data-bs-target="#shareModal"><i class="feather-share-2"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="loading-btn">
                          <button class="process-btn btn-hover" type="button">
                            No More
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="tab-friends">
                  <div class="full-width">
                    <div class="no-events">
                      <div class="no-event-icon">
                        <!-- <img src="../../assets/images/icon-calendar.png" alt=""> -->
                      </div>
                      <span>Pas d'évènements trouvés.</span>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="tab-online">
                  <div class="main-posts">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="event-main-post">
                          <div class="main-photo">
                            <a href="event_detail_view.html">
                              <div class="photo-overlay"></div>
                              <img src="../../assets/images/homepage/center/post-img-2.jpg" alt="">
                            </a>
                            <div class="option-ellipsis">
                              <div class="dropdown">
                                <a class="ellipsis-btn dropdown-toggle-no-caret"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-end">
                                  <a class="post-link-item" href="#"><i class="feather-eye-off icon-mr1"></i>Hide</a>
                                  <a class="post-link-item" href="#"><i class="feather-bookmark icon-mr1"></i>Save</a>
                                  <a class="post-link-item" href="#"><i class="feather-user icon-mr1"></i>User Profile</a>
                                  <a class="post-link-item" href="#" data-bs-toggle="modal" data-bs-target="#reportModal"><i class="feather-flag icon-mr1"></i>Report</a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="event-body">
                            <span class="event-time">thu,30 june 2022 at 3.00 pm</span>
                            <a href="event_detail_view.html" class="event-title">Event Title Here</a>
                            <span class="event-type">Online</span>
                            <p class="ingo-counter">
                              <span>25 Interested</span>
                              <span>11 Going</span>
                            </p>
                            <div class="group-btns">
                              <button class="interest-btn btn-hover"><i class="feather-star me-2"></i>Interested</button>
                              <button class="share-btn btn-hover" data-bs-toggle="modal" data-bs-target="#shareModal"><i class="feather-share-2"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="loading-btn">
                          <button class="process-btn btn-hover" type="button">
                            No More
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="tab-following">
                  <div class="full-width">
                    <div class="no-events">
                      <div class="no-event-icon">
                        <!-- <img src="../../assets/images/icon-calendar.png" alt=""> -->
                      </div>
                      <span>Pas d'évènements trouvés.</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-12 col-12">
          <div class="main-left-sidebar mt-5 mt-lg-5 mt-xl-0">
            <div class="user-data full-width">
              <div class="user-profile">
                <div class="username-dt dpbg-1">
                  <div class="usr-pic">
                    <img src="../../assets/images/homepage/left-side/my-dp.jpg" alt="">
                  </div>
                </div>
                <div class="user-main-details">
                  <h4>{{user_connected.nom}} {{user_connected.prenom}}</h4>
                  <span><i class="feather-map-pin"></i>France</span>
                </div>
                <ul class="followers-dts">
                  <li>
                    <div class="followers-dt-sm">
                      <h4>Abonnée</h4>
                      <span>4</span>
                    </div>
                  </li>
                  <li>
                    <div class="followers-dt-sm">
                      <h4>Suivi</h4>
                      <span>5</span>
                    </div>
                  </li>
                </ul>
                <div class="profile-link">
                  <a routerLink="/home/profile">Voir Profil</a>
                </div>
              </div>
            </div>
            <div class="user-data full-width">
              <div class="categories-left-heading">
                <h3>Categories</h3>
              </div>
              <div class="categories-items">
                <div class="categories-container">
                  <a class="category-item" href="explore.html"><img src="../../assets/images/category-icons/icon-1.png" alt="Music">Musique</a>
                  <a class="category-item" href="explore.html"><img src="../../assets/images/category-icons/icon-2.png" alt="Classics">Classique</a>
                  <a class="category-item" href="explore.html"><img src="../../assets/images/category-icons/icon-3.png" alt="Comedy">Comedie</a>
                  <a class="category-item" href="explore.html"><img src="../../assets/images/category-icons/icon-4.png" alt="Crafts">Fabrication</a>
                  <a class="category-item" href="explore.html"><img src="../../assets/images/category-icons/icon-5.png" alt="Drinks">Danse</a>
                  <a class="category-item" href="explore.html"><img src="../../assets/images/category-icons/icon-6.png" alt="Drinks">Fêtes</a>
                </div>
              </div>
            </div>
            <div class="user-data full-width">
              <div class="categories-left-heading">
                <h3>Personnes</h3>
              </div>
              <div class="sugguest-user">
                <div class="sugguest-user-dt">
                  <a href="user_profile.html"><img src="../../assets/images/homepage/left-side/left-img-1.jpg" alt=""></a>
                  <a href="user_profile.html"><h4>Johnson</h4></a>
                </div>
                <button class="request-btn"><i class="feather-user-plus"></i></button>
              </div>
              <div class="sugguest-user">
                <div class="sugguest-user-dt">
                  <a href="user_profile.html"><img src="../../assets/images/homepage/left-side/left-img-2.jpg" alt=""></a>
                  <a href="user_profile.html"><h4>Jassica William</h4></a>
                </div>
                <button class="request-btn"><i class="feather-user-plus"></i></button>
              </div>
              <div class="sugguest-user">
                <div class="sugguest-user-dt">
                  <a href="user_profile.html"><img src="../../assets/images/homepage/left-side/left-img-3.jpg" alt=""></a>
                  <a href="user_profile.html"><h4>Rock</h4></a>
                </div>
                <button class="request-btn"><i class="feather-user-plus"></i></button>
              </div>
              <div class="sugguest-user">
                <div class="sugguest-user-dt">
                  <a href="user_profile.html"><img src="../../assets/images/homepage/left-side/left-img-4.jpg" alt=""></a>
                  <a href="user_profile.html"><h4>Davil Smith</h4></a>
                </div>
                <button class="request-btn"><i class="feather-user-plus"></i></button>
              </div>
              <div class="sugguest-user">
                <div class="sugguest-user-dt">
                  <a href="user_profile.html"><img src="../../assets/images/homepage/left-side/left-img-5.jpg" alt=""></a>
                  <a href="user_profile.html"><h4>Ricky Doe</h4></a>
                </div>
                <button class="request-btn"><i class="feather-user-plus"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-12 col-12">
          <div class="right-side-items mt-0 mt-md-5 mt-lg-5 mt-xl-0">
            <div class="post-event">
              <h6>Tu veux poster tes évènements ? </h6>
              <p>Publiez gratuitement votre événement sur Goeveni. Créez simplement un compte et ajoutez-le via le formulaire simple. Aussi simple que cela.</p>
              <a routerLink="/home/new-event" class="add-nw-event">Postez-le maintenant</a>
            </div>
            <div class="explore-events">
              <h4>Découvrez les évènements</h4>
              <div class="explore-events-dt">
                <div class="row g-2">
                  <div class="col-6">
                    <a href="#">
                      <div class="explore-card light-blue">
                        <div class="explore-item-1">
                          <div class="explore-icon-bg icon-large-1">
                            <i class="fas fa-sun"></i>
                          </div>
                          <div class="explore-content">
                            <i class="feather-sun"></i>
                            <span>Aujourd'hui</span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-6">
                    <a href="#">
                      <div class="explore-card light-yellow">
                        <div class="explore-item-1">
                          <div class="explore-icon-bg icon-large-1">
                            <i class="feather-sun"></i>
                          </div>
                          <div class="explore-content">
                            <i class="feather-sun"></i>
                            <span>Demain</span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-6">
                    <a href="#">
                      <div class="explore-card dark-blue">
                        <div class="explore-item-1">
                          <div class="explore-icon-bg icon-large-1">
                            <i class="feather-calendar"></i>
                          </div>
                          <div class="explore-content">
                            <i class="feather-calendar"></i>
                            <span>Cette semaine</span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-6">
                    <a href="#">
                      <div class="explore-card light-green">
                        <div class="explore-item-1">
                          <div class="explore-icon-bg icon-large-1">
                            <i class="fas fa-calendar-check"></i>
                          </div>
                          <div class="explore-content">
                            <i class="feather-calendar"></i>
                            <span>Choisir une date</span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-weather">
              <div class="weather-top">
                <div class="weather-left">
                  <div class="weather-city">Ludhiana</div>
                  <div class="week-text">Monday</div>
                  <div class="week-text">14 Oct 2019</div>
                  <div class="week-text" style="font-size: 18px;"><i class="fas fa-tint"></i> 30%</div>
                  <ul>
                    <li>
                      <div class="up-down"><i class="fas fa-long-arrow-alt-up"></i> 18°</div>
                    </li>
                    <li>
                      <div class="up-down"><i class="fas fa-long-arrow-alt-down"></i> 25°</div>
                    </li>
                  </ul>
                </div>
                <div class="weather-right">
                  <i class="feather-sun"></i>
                  <span>22°</span>
                </div>
              </div>
              <ul class="weekly-weather">
                <li>
                  <div class="degree-text">32°</div>
                  <div class="weather-icon"><i class="fas fa-sun"></i></div>
                  <div class="day-text">Tue</div>
                </li>
                <li>
                  <div class="degree-text">19°</div>
                  <div class="weather-icon"><i class="fa-solid fa-cloud-sun-rain"></i></div>
                  <div class="day-text">Wed</div>
                </li>
                <li>
                  <div class="degree-text">32°</div>
                  <div class="weather-icon"><i class="fas fa-sun"></i></div>
                  <div class="day-text">Thu</div>
                </li>
                <li>
                  <div class="degree-text">27°</div>
                  <div class="weather-icon"><i class="fas fa-wind"></i></div>
                  <div class="day-text">Fri</div>
                </li>
                <li>
                  <div class="degree-text">22°</div>
                  <div class="weather-icon"><i class="fas fa-cloud-showers-heavy"></i></div>
                  <div class="day-text">Sat</div>
                </li>
                <li>
                  <div class="degree-text">12°</div>
                  <div class="weather-icon"><i class="fas fa-snowflake"></i></div>
                  <div class="day-text">Sun</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<ngx-spinner bdColor="rgb(2 2 2 / 90%)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
  [fullScreen] = "true">
  <p style="font-size: 18px; color: white">Chargement des données...</p>
</ngx-spinner>
