<div class="title-bar">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ol class="title-bar-text">
          <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
          <li aria-current="page" class="breadcrumb-item active">Détail évènement</li>
        </ol>
      </div>
    </div>
  </div>
</div><!-- Title Bar End --><!-- Body Start -->
<main class="evnt-px">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="main-card">
          <div class="event-detail-content">
            <div class="event-main-img">
              <img alt="" src="../../../assets/images/event-view/arrireplan.png">
              <div class="event-date">
                <span class="emnth">{{month}} </span>
                <span class="edate">{{event?.date_realisation | date : "dd"}}</span>
              </div>
            </div>
            <div class="event-title-dts">
              <span class="evnt_time txtbold">{{event?.date_realisation}}</span>
              <h3 class="event-heading-title text-left"> {{event?.event_name}}</h3>
              <span class="evnt_time txtbold">Categorie ici</span>
              <div class="mndtlist">
                <div class="mndesp145">
                  <div class="evarticledes">
                    <p class="mb-0">{{event?.description}}<br></p>
                  </div>
                </div>
              </div>
              <div class="mndtlist">
                <div class="evntflldt4">
                  <div class="hhttd14s">
                    <i class="feather-film"></i>
                  </div>
                  <div class="ttlpple">
                    <span>Lien du Ticket </span>
                    <span class="wthrsml4"><a href="{{event?.payement_link}}">{{event?.payement_link}}</a>
                  </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="d-md-flex d-block align-self-center p-20">
              <div class="ttlcnt15 invtbyuser">
                <div class="invited_avtar_ee">
                  <img alt="" src="../../../assets/images/homepage/left-side/left-img-5.jpg">
                </div>
                <span class="evntcunt">Créé par <a style="cursor: pointer;color: #ff7555" (click)="goToUser(event?.utilisateur_id)" >{{event?.nom}} {{event?.prenom}}</a> </span>
              </div>
              <div class="ms-auto mt-4 mt-md-0 mt-lg-0 mt-xl-0">
                <ul class="egroup-btns">
                  <li *ngIf="!liked_active ;else actived_like">
                    <button (click)="likePublication(event?.id)" class="main--btn view-hover">
                      <i class="feather-thumbs-up"></i> J'aime
                    </button>
                  </li>
                  <ng-template #actived_like>
                    <li>
                      <button (click)="disLikePublication(event?.id)" class="main--btn-liked">
                        <i class="feather-thumbs-up"></i> J'aime déjà
                      </button>
                    </li>
                  </ng-template>
                  <li>
                    <a class="m-share-btn view-hover" data-bs-toggle="modal" href="#shareModal" role="button"><i class="feather-share-2"></i></a>
                  </li>
                  <li>
                    <div class="view-ellipsis">
                      <div class="dropdown">
                        <a aria-expanded="false" class="ellipsis-btn dropdown-toggle-no-caret view-hover" data-bs-toggle="dropdown" href="#" role="button"><i class="feather-more-vertical"></i></a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a class="post-link-item" href="#"><i class="feather-eye-off icon-mr1"></i>Hide</a>
                          <a class="post-link-item" href="#"><i class="feather-bookmark icon-mr1"></i>Save</a>
                          <a class="post-link-item" href="user_profile.html"><i class="feather-user icon-mr1"></i>User Profile</a>
                          <a class="post-link-item" data-bs-toggle="modal" href="#reportModal" role="button"><i class="feather-flag icon-mr1"></i>Report</a>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="dis-like-comments">
              <div class="left-comments">
                <a *ngIf="!liked_active;else actived_love" class="like-item" > <i class="feather-heart"></i>
                  <span>{{this.nombre_like}}
                    <ins>J'aime</ins></span> </a>

                <ng-template #actived_love>
                  <a class="like-item-liked"> <i class="feather-heart"></i>
                    <span> {{this.nombre_like}} J'aime</span>
                  </a>
                </ng-template>
                <a class="like-item lc-left"  title="Commentaires"> <i class="feather-message-square"></i>
                  <span>{{nombre_comments}} <ins>Commentaires</ins></span> </a>
              </div>
              <div class="right-comments">
                <a class="like-item lc-left" href="#" title="Share"> <i class="feather-share-2"></i> <span>0 <ins>Partages</ins></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="main-card mt-30">
          <div class="main-reply-comment">
            <h4>Commentaires</h4>
            <form (ngSubmit)="commentEvent()" [formGroup]="formComment">
              <div class="reply-buttons">
                <div class="add-photo-button">
                  <div class="screnshot" id="OpenImgUpload1">
                    <input class="comment-post" id="file1" placeholder="Votre commentaire..." type="text" formControlName="corps">
                  </div>
                </div>
                <div class="post-reply-btn">
                  <button class="btn-add-reply" type="submit">Commenter</button>
                </div>
              </div>
            </form>
          </div>
          <div class="main-replies">
            <h4>{{nombre_comments}} Commentaires</h4>
            <div *ngFor="let comment of commentaires" class="reply-user-dt">
              <img alt="" src="../../../assets/images/discussion/img-3.jpg"> <a style="cursor: pointer" (click)="goToUser(comment.utilisateur_id)"><h4>{{comment.nom}} {{comment.prenom}}</h4></a>
              <p>{{comment.corps}}</p>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="main-card">
          <div class="categories-left-heading border_bottom">
            <h3>Lien du Ticket</h3>
          </div>
          <div class="p-20">
            <a class="main-btn btn-hover h_40" href="{{event?.payement_link}}">Trouver Ticket</a>
          </div>
        </div>
        <div class="main-card">
          <div class="categories-left-heading border_bottom">
            <h3>Participant</h3>
          </div>
          <div class="p-20">
            <div class="gofrnd15s cursur" data-bs-target="#goWithfriendsModal" data-bs-toggle="modal">
              <div class="gowthfrnd">
                <span class="gofndcunt">{{person_liked?.length}} </span> <span class="headttl5e">J'aime</span>
              </div>
              <div class="intrsdfrnd">
                <span class="gofndcunt">3</span> <span class="headttl5e">Interessé(s)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="main-card">
          <div class="categories-left-heading border_bottom">
            <h3>Créateur</h3>
          </div>
          <div class="p-20">
            <div class="user-follow-card">
              <div class="follow-card-left">
                <div class="follow-avatar">
                  <img alt="" src="../../../assets/images/find-peoples/user-2.jpg">
                </div>
                <div class="follow-name">
                  <a style="cursor: pointer" (click)="goToUser(event?.utilisateur_id)">{{event?.nom}} {{event?.prenom}}</a> <span>Organisateur</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<ngx-spinner [fullScreen]="true" bdColor="rgb(2 2 2 / 90%)" color="#fff" size="medium" type="ball-scale-multiple">
  <p style="font-size: 18px; color: white">Chargement des données...</p>
</ngx-spinner>
