.main--btn-liked{
  padding: 0 20px;
  height: 34px;
  display: block;
  line-height: 36px;
  text-align: center;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  background-color:#ff7555 !important;
  color: #fff;
}
.comment-post{
  width: 100%;
  padding: 10px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  font-size: 14px;
}

.like-item-liked {
  margin-left: 5px;
  margin-bottom: 0;
  color: #ff7555 !important;
  text-decoration: none !important;
}
