<div class="title-bar">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ol class="title-bar-text">
          <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
          <li class="breadcrumb-item active" aria-current="page">Détail évènement </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- Title Bar End -->
<!-- Body Start -->
<main class="evnt-px">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="main-card">
          <div class="event-detail-content">
            <div class="event-main-img">
              <img src="../../../assets/images/event-view/arrireplan.png" alt="">
              <div class="event-date">
                <span class="emnth">JUN</span>
                <span class="edate">30</span>
              </div>
            </div>
            <div class="event-title-dts">
              <span class="evnt_time txtbold">{{event?.date_realisation}}</span>
              <h3 class="event-heading-title text-left"> {{event?.description}}</h3>
            </div>
            <div class="d-md-flex d-block align-self-center p-20">
              <div class="ttlcnt15 invtbyuser">
                <div class="invited_avtar_ee">
                  <img src="../../../assets/images/homepage/left-side/left-img-5.jpg" alt="">
                </div>
                <span class="evntcunt">Créé par {{event?.nom}} {{event?.prenom}}</span>
              </div>
              <div class="ms-auto mt-4 mt-md-0 mt-lg-0 mt-xl-0">
                <ul class="egroup-btns">
                  <li><a class="main--btn view-hover" href="#"><i class="feather-star me-2"></i>Interessé</a></li>
                  <li><a class="main--btn view-hover" href="#"><i class="feather-check-circle me-2"></i>Aller</a></li>
                  <li><a class="m-share-btn view-hover" href="#shareModal" data-bs-toggle="modal" role="button"><i class="feather-share-2"></i></a></li>
                  <li>
                    <div class="view-ellipsis">
                      <div class="dropdown">
                        <a class="ellipsis-btn dropdown-toggle-no-caret view-hover"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="feather-more-vertical"></i></a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a class="post-link-item" href="#"><i class="feather-eye-off icon-mr1"></i>Hide</a>
                          <a class="post-link-item" href="#"><i class="feather-bookmark icon-mr1"></i>Save</a>
                          <a class="post-link-item" href="user_profile.html"><i class="feather-user icon-mr1"></i>User Profile</a>
                          <a class="post-link-item" href="#reportModal" data-bs-toggle="modal" role="button"><i class="feather-flag icon-mr1"></i>Report</a>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="main-card mt-30">
          <div class="categories-left-heading border_bottom">
            <h3>Détail</h3>
          </div>
          <div class="evntdt99 p-20">
            <div class="mndtlist alrspndpple gowthfdsbtn">
              <div class="evntflldt4 flxcntr">
                <div class="hhttd14s">
                  <i class="feather-users"></i>
                </div>
                <div class="ttlpple">
                  <span>5 people responded</span>
                </div>
              </div>
            </div>
            <div class="mndtlist">
              <div class="evntflldt4 flxcntr">
                <div class="hhttd14s">
                  <i class="feather-flag"></i>
                </div>
                <div class="ttlpple">
                  <span>Evenement par</span>
                  <a href="user_profile.html" class="ml-1">{{event?.nom}} {{event?.prenom}}</a>
                </div>
              </div>
            </div>
            <div class="mndtlist">
              <div class="evntflldt4 flxcntr">
                <div class="hhttd14s">
                  <i class="feather-map-pin"></i>
                </div>
                <div class="ttlpple">
                  <a href="#">#000, Sks Nagar, Near Church, Ludhiana, Punjab</a>
                </div>
              </div>
            </div>
            <div class="mndtlist">
              <div class="evntflldt4">
                <div class="hhttd14s">
                  <i class="feather-clock"></i>
                </div>
                <div class="ttlpple">
                  <span>{{event?.date_realisation}}</span>
                </div>
              </div>
            </div>
            <div class="mndtlist">
              <div class="evntflldt4">
                <div class="hhttd14s">
                  <i class="feather-film"></i>
                </div>
                <div class="ttlpple">
                  <span>Ticket </span>
                  <span class="wthrsml4">example.com/eventname</span>
                </div>
              </div>
            </div>
            <div class="mndtlist">
              <div class="mndesp145">
                <div class="evarticledes">
                  <p class="mb-0">{{event?.description}}<br></p>
                  <p class="moretext mb-0">Spice up your Sunday! Bollywood Party<br>
                    ∙ For Booking &amp; Guestlist: <a href="#">http://example.com/eventname</a><br>
                    ∙ Drop Your Names on WhatsApp for Booking: +91-0000-0000-00<br>
                  </p>
                </div>
                <button class="moreless-btn">Voir Plus</button>
              </div>
            </div>
            <div class="tagtlist">
              <ul class="taglst17">
                <li>
                  <a href="#" class="tagbite">Fête</a>
                </li>
                <li>
                  <a href="#" class="tagbite">Danse</a>
                </li>
                <li>
                  <a href="#" class="tagbite">Comedie</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="main-card">
          <div class="categories-left-heading border_bottom">
            <h3>Ticket</h3>
          </div>
          <div class="p-20">
            <a href="#" class="main-btn btn-hover h_40">Trouver Ticket</a>
          </div>
        </div>
        <div class="main-card">
          <div class="categories-left-heading border_bottom">
            <h3>Participant</h3>
          </div>
          <div class="p-20">
            <div class="gofrnd15s cursur" data-bs-toggle="modal" data-bs-target="#goWithfriendsModal">
              <div class="gowthfrnd">
                <span class="gofndcunt">2</span>
                <span class="headttl5e">Participe</span>
              </div>
              <div class="intrsdfrnd">
                <span class="gofndcunt">3</span>
                <span class="headttl5e">Interessé(s)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="main-card">
          <div class="categories-left-heading border_bottom">
            <h3>Créateur</h3>
          </div>
          <div class="p-20">
            <div class="user-follow-card">
              <div class="follow-card-left">
                <div class="follow-avatar">
                  <img src="../../../assets/images/find-peoples/user-2.jpg" alt="">
                </div>
                <div class="follow-name">
                  <a href="user_profile.html">{{event?.nom}} {{event?.prenom}}</a>
                  <span>Organisateur</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
