.main--btn-liked{
  padding: 0 20px;
  height: 34px;
  display: block;
  line-height: 36px;
  text-align: center;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  background-color:#d3009c !important;
  color: #fff;
}
.comment-post{
  width: 100%;
  padding: 10px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  font-size: 14px;
}

.like-item-liked {
  margin-left: 5px;
  margin-bottom: 0;
  color: #d3009c !important;
  text-decoration: none !important;
}
.reply-user-dt{
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f3f3f3;
}
.photo-comments{
  width: 40px;
  border-radius: 100%;
  border: 1px solid grey;
}
.profil-icon-create{
  width: 30px;
  height: 30px;
}
.profil-icon-organisateur{
  width: 60px;
  height: 60px;
}
.link-payment{
  text-decoration: underline !important;
  color: #d3009c !important;
}
