<div class="title-bar">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ol class="title-bar-text">
          <li class="breadcrumb-item"><a routerLink="/admin">Admin</a></li>
          <li aria-current="page" class="breadcrumb-item active">Categories</li>
        </ol>
      </div>
    </div>
  </div>
</div><!-- Title Bar End --><!-- Body Start -->
<main class="discussion-mp">
  <div class="main-section">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-12">
          <button class="btn btn-success" data-bs-target="#add-discussion-model" data-bs-toggle="modal" type="button">Ajouter une nouvelle catégorie</button>
          <div class="topic-categories-bg">
            <a class="category-topics active" href="#">Tous</a>
            <a aria-controls="collapse1" aria-expanded="false" class="category-topics cate-right" data-bs-toggle="collapse" href="#collapse1" role="button">All Tags</a>
            <div class="collapse" id="collapse1">
              <ul class="tag-card">
                <li><a class="tag-item1" href="#">Music</a></li>
                <li><a class="tag-item1" href="#">Singer</a></li>
                <li><a class="tag-item1" href="#">Cricketer</a></li>
                <li><a class="tag-item1" href="#">Show</a></li>
                <li><a class="tag-item1" href="#">Social</a></li>
                <li><a class="tag-item1" href="#">Art</a></li>
                <li><a class="tag-item1" href="#">Tv</a></li>
                <li><a class="tag-item1" href="#">Tech</a></li>
                <li><a class="tag-item1" href="#">Fashion</a></li>
                <li><a class="tag-item1" href="#">Beauty</a></li>
                <li><a class="tag-item1" href="#">Health and Fitness</a></li>
                <li><a class="tag-item1" href="#">Festival</a></li>
                <li><a class="tag-item1" href="#">Film Promotion</a></li>
                <li><a class="tag-item1" href="#">Comedey</a></li>
                <li><a class="tag-item1" href="#">Club</a></li>
                <li><a class="tag-item1" href="#">Ilets</a></li>
              </ul>
            </div>
          </div>
          <div class="google-ads-left d-none d-lg-block">
            <img alt="" src="images/discussion/ads.jpg">
          </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-12">
          <div class="all-discussions">
            <div class="discussion-heading">
              <h2>Toutes les catégories</h2>
            </div>
            <div class="all-discussions-items">
              <div class="dis-item">
                <div *ngFor="let cat of categories" class="row no-gutters">
                  <div class="col-xl-8 col-lg-12 col-md-12">
                    <div class="dis-img-text">
                      <img alt="" src="../../assets/images/discussion/img-1.jpg">
                      <h4>{{cat.nom}} </h4>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-12 col-md-12">
                    <ul class="dis-reviews">
                      <li>
                        <button (click)="updateButton()" class="btn btn-warning" data-bs-target="#update-discussion-model" data-bs-toggle="modal" ><i class="nav-icon fas fa-edit" ></i> Edit</button>
                      </li>
                      <li>
                        <button class="btn btn-danger"><i class="nav-icon fas fa-trash"></i></button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="blog-pagination">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a aria-label="Previous" class="page-link" href="#"> <i class="fas fa-angle-left"></i> </a>
                  </li>
                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">...</a></li>
                  <li class="page-item"><a class="page-link" href="#">12</a></li>
                  <li class="page-item">
                    <a aria-label="Next" class="page-link" href="#"> <i class="fas fa-angle-right"></i> </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<div class="main-discussion-model">
  <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="add-discussion-model" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content main-form">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ajouter nouvelle catégorie</h5>
          <button aria-label="Close" class="close" data-bs-dismiss="modal" type="button">
            <i class="feather-x"></i>
          </button>
        </div>
        <form (ngSubmit)="addCategorie()" [formGroup]="formCategorie">
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <input class="form-input" formControlName="nom" placeholder="Nom categorie" type="text">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea class="form-textarea" formControlName="description" placeholder="Decrivez le categorie"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="co-main-btn cancel-btn" data-bs-dismiss="modal" type="button">Annuler</button>
            <button class="main-btn btn-hover" data-bs-dismiss="modal">Ajouter</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--<button class="btn btn-success" data-bs-target="#update-discussion-model" data-bs-toggle="modal" type="button">Ajouter une nouvelle catégorie</button>-->

<!--<div *ngIf="update">-->
  <div class="main-discussion-model">
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="update-discussion-model" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content main-form">
          <div class="modal-header">
            <h5 class="modal-title" >Modication categorie</h5>
            <button aria-label="Close" class="close" data-bs-dismiss="modal" type="button">
              <i class="feather-x"></i>
            </button>
          </div>
          <form (ngSubmit)="updateCategorie()" [formGroup]="formCategorie">
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <input class="form-input" formControlName="nom" placeholder="Nom categorie" type="text">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea class="form-textarea" formControlName="description" placeholder="Decrivez le categorie"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="co-main-btn cancel-btn" data-bs-dismiss="modal" type="button">Annuler</button>
              <button class="main-btn btn-hover" data-bs-dismiss="modal">Ajouter</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<!--</div>-->

