<main class="dashboard-mp">
  <div class="profile-banner">
    <div class="hero-cover-block">
      <div class="hero-cover">
        <div class="hero-cover-img hero-img-1"></div>
      </div>
      <div *ngIf="!idPerson" class="upload-profile-cover">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="cover-img-btn">
                <input id="cover-img" type="file">
                <label for="cover-img"><i class="feather-image me-2"></i>Changer Couverture</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="user-dt-block">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-5 col-md-12">
            <div class="main-card user-left-dt">
              <div class="user-avatar-img">
                <img alt="" src="../../../assets/images/my-dashboard/dp.png">
                <div *ngIf="!this.idPerson" class="avatar-img-btn">
                  <input id="avatar-img" type="file"> <label for="avatar-img"><i class="feather-camera"></i></label>
                </div>
              </div>
              <div class="user-dts">
                <h4 class="user-name">{{personne_profil?.nom}} {{personne_profil?.prenom}}<span class="verify-badge"><i class="fa-solid fa-circle-check"></i></span>
                </h4>
                <span class="user-loc"><i class="feather-map-pin"></i>France</span>
              </div>
<!--              <div class="ff-block">-->
<!--                <a class="" data-bs-target="#FFModal" data-bs-toggle="modal" href="#" role="button"><span>4</span>Abonnées</a>-->
<!--                <a class="" data-bs-target="#FFModal" data-bs-toggle="modal" href="#" role="button"><span>5</span>Suivi</a>-->
<!--              </div>-->
              <div class="user-description">
                <p>Bonjour je suis {{personne_profil?.nom}} {{personne_profil?.prenom}}</p>
              </div>
              <div *ngIf="!this.idPerson" class="user-btns">
                <a class="co-main-btn co-btn-width min-width d-inline-block h_40" routerLink="/home/settings"><i class="feather-settings me-2"></i>Paramètres</a>
              </div>
              <div class="profile-social-link">
                <h6>Suivez-moi sur :</h6>
                <div class="social-links">
                  <a aria-label="Facebook" class="social-link" data-bs-original-title="Facebook" data-bs-placement="top" data-bs-toggle="tooltip" href="#" title=""><i class="fab fa-facebook-square"></i></a>
                  <a aria-label="Instagram" class="social-link" data-bs-original-title="Instagram" data-bs-placement="top" data-bs-toggle="tooltip" href="#" title=""><i class="fab fa-instagram"></i></a>
                  <a aria-label="Twitter" class="social-link" data-bs-original-title="Twitter" data-bs-placement="top" data-bs-toggle="tooltip" href="#" title=""><i class="fab fa-twitter"></i></a>
                  <a aria-label="LinkedIn" class="social-link" data-bs-original-title="LinkedIn" data-bs-placement="top" data-bs-toggle="tooltip" href="#" title=""><i class="fab fa-linkedin-in"></i></a>
                  <a aria-label="Youtube" class="social-link" data-bs-original-title="Youtube" data-bs-placement="top" data-bs-toggle="tooltip" href="#" title=""><i class="fab fa-youtube"></i></a>
                  <a aria-label="Website" class="social-link" data-bs-original-title="Website" data-bs-placement="top" data-bs-toggle="tooltip" href="#" title=""><i class="fa-solid fa-globe"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!this.idPerson ; else profil_user" class="col-xl-8 col-lg-7 col-md-12">
            <div class="dash-tabs-block mt-4">
              <ul class="nav nav-pills nav-fill p-2 dash-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a aria-controls="dashboard" aria-selected="true" class="nav-link active" data-bs-toggle="tab" href="#dashboard" id="dashboard-tab" role="tab"><i class="feather-grid"></i>Tableau de bord</a>
                </li>
                <li class="nav-item">
                  <a aria-controls="about" aria-selected="false" class="nav-link" data-bs-toggle="tab" href="#about" id="about-tab" role="tab"><i class="feather-info"></i>A Propos</a>
                </li>
<!--                <li class="nav-item">-->
<!--                  <a aria-controls="discussion" aria-selected="false" class="nav-link" data-bs-toggle="tab" href="#discussion" id="discussion-tab" role="tab"><i class="feather-message-circle"></i>Discussion</a>-->
<!--                </li>-->
                <li class="nav-item">
                  <a aria-controls="events" aria-selected="false" class="nav-link" data-bs-toggle="tab" href="#events" id="events-tab" role="tab"><i class="feather-calendar"></i>Evenements</a>
                </li>
              </ul>
            </div>
            <div class="tab-content" id="myTabContent">
              <div aria-labelledby="dashboard-tab" class="tab-pane fade active show" id="dashboard" role="tabpanel">
                <div class="main-card pb-2 px-2">
                  <div class="row g-2">
                    <div class="col-lg-6 col-xl-3 col-md-6 col-12">
                      <div class="dash-step">
                        <i class="feather-calendar"></i>
                        <h6 class="dash-step-title">Evènements</h6>
                        <span class="count-1">{{personne_publications?.length}} </span> <span class="count-2">+{{personne_publications?.length}} les 30 derniers jours</span>
                      </div>
                    </div>
                    <div class="col-lg-6 col-xl-3 col-md-6 col-12">
                      <div class="dash-step">
                        <i class="feather-users"></i>
                        <h6 class="dash-step-title">Personne atteintes</h6>
                        <span class="count-1">0</span> <span class="count-2">+0 les 30 derniers jours</span>
                      </div>
                    </div>
                    <div class="col-lg-6 col-xl-3 col-md-6 col-12">
                      <div class="dash-step">
                        <i class="feather-star"></i>
                        <h6 class="dash-step-title">Réponse</h6>
                        <span class="count-1">0</span> <span class="count-2">+0 les 30 derniers jours</span>
                      </div>
                    </div>
                    <div class="col-lg-6 col-xl-3 col-md-6 col-12">
                      <div class="dash-step">
                        <i class="feather-tag"></i>
                        <h6 class="dash-step-title">Click sur ticket</h6>
                        <span class="count-1">0</span> <span class="count-2">+0 les 30 derniers jours</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="main-card mt-4 mb-0">
                  <div class="events-dash-heading d-flex align-items-center w-100 py-2 pe-2 ps-4">
                    <h4>Evenements</h4>
                    <a class="main-btn btn-hover h_40 ms-auto" routerLink="/home/new-event">Créer</a>
                  </div>
                  <div class="events-dash-options main-form">
                    <div class="row g-2">
                      <div class="col-lg-4 col-md-4 col-12">
                        <div class="event-search-dash">
                          <div class="position-relative">
                            <input class="form-input" placeholder="Rechercher ..." name="recherche" [(ngModel)]="searchEvent" type="text">
                            <span class="icon-158"><i class="feather-search"></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-12">
                        <select class="selectpicker" data-width="100%">
                          <option value="publish-event">Published Events</option>
                          <option value="draft-event">Draft and Scheduled Events</option>
                        </select>
                      </div>
                      <div class="col-lg-3 col-md-4 col-12">
                        <select class="selectpicker" data-width="100%">
                          <option value="event-date">Event Date</option>
                          <option value="publish-date">Publish Date</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="all-dash-events">
                    <div class="row">
                      <div *ngFor="let pubUser of personne_publications | slice:(page-1)*pageSize:page*pageSize | filter:searchEvent"  class="col-xl-4 col-lg-6 col-md-6 col-12">
                        <div class="event-main-post">
                          <div class="main-photo">
                            <a href="#">
                              <div class="photo-overlay"></div>
                              <img height="100px" src="../../assets/images/homepage/center/arrireplan.png" alt="">
                            </a>
                          </div>
                          <div class="event-body">
                            <span class="event-time">{{pubUser.date_realisation}}</span>
                            <a style="cursor:pointer;" (click)="getDetails(pubUser.id)" class="event-title">{{pubUser.event_name}}</a>
                            <span class="event-type">{{pubUser.lieu}}</span>
                            <div class="group-btns">
                              <button class="interest-btn btn-hover" (click)="getDetails(pubUser.id)" ><i class="feather-eye me-2"></i>Voir</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="loading-btn mb-0">
                          <button class="process-btn btn-hover" type="button">
                            Pas plus d'évènements
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div aria-labelledby="about-tab" class="tab-pane fade" id="about" role="tabpanel">
                <div class="main-card mt-4 mb-0">
                  <div class="events-dash-heading d-flex align-items-center w-100 py-2 pe-2 ps-4 border_bottom">
                    <h4>A Propos</h4>
                    <a class="main-btn btn-hover h_40 ms-auto" data-bs-toggle="modal" href="#edit-profile-model" role="button">Modifier</a>
                  </div>
                  <div class="about-details">
                    <div class="about-step">
                      <h5>Nom</h5>
                      <span>{{personne_profil?.nom}} {{personne_profil?.prenom}}</span>
                    </div>
                    <div class="about-step">
                      <h5>Dites nous quelques choses à propos de vous </h5>
                      <p class="mb-0"> ...  </p>
                    </div>
                    <div class="about-step">
                      <h5>Trouver moi sur </h5>
                      <div class="social-links">
                        <a aria-label="Facebook" class="social-link" data-bs-original-title="Facebook" data-bs-placement="top" data-bs-toggle="tooltip" href="#" title=""><i class="fab fa-facebook-square"></i></a>
                        <a aria-label="Instagram" class="social-link" data-bs-original-title="Instagram" data-bs-placement="top" data-bs-toggle="tooltip" href="#" title=""><i class="fab fa-instagram"></i></a>
                        <a aria-label="Twitter" class="social-link" data-bs-original-title="Twitter" data-bs-placement="top" data-bs-toggle="tooltip" href="#" title=""><i class="fab fa-twitter"></i></a>
                        <a aria-label="LinkedIn" class="social-link" data-bs-original-title="LinkedIn" data-bs-placement="top" data-bs-toggle="tooltip" href="#" title=""><i class="fab fa-linkedin-in"></i></a>
                        <a aria-label="Youtube" class="social-link" data-bs-original-title="Youtube" data-bs-placement="top" data-bs-toggle="tooltip" href="#" title=""><i class="fab fa-youtube"></i></a>
                        <a aria-label="Website" class="social-link" data-bs-original-title="Website" data-bs-placement="top" data-bs-toggle="tooltip" href="#" title=""><i class="fa-solid fa-globe"></i></a>
                      </div>
                    </div>
                    <div class="about-step">
                      <h5>Adresse</h5>
                      <p class="mb-0">00 Challis St, Newport, Victoria, 0000, Australia</p>
                    </div>
                  </div>
                </div>
              </div>
<!--              <div aria-labelledby="discussion-tab" class="tab-pane fde" id="discussion" role="tabpanel">-->
<!--                <div class="main-card mt-4 mb-0">-->
<!--                  <div class="events-dash-heading d-flex align-items-center w-100 py-2 pe-2 ps-4 border_bottom">-->
<!--                    <h4>All Discussions</h4>-->
<!--                    <a class="main-btn btn-hover h_40 ms-auto" data-bs-toggle="modal" href="#add-discussion-model" role="button">Add Topic</a>-->
<!--                  </div>-->
<!--                  <div class="my-all-discussions">-->
<!--                    <div class="dis-item">-->
<!--                      <div class="row no-gutters">-->
<!--                        <div class="col-xl-8 col-lg-12 col-md-12">-->
<!--                          <div class="dis-img-text">-->
<!--                            <img alt="" src="images/discussion/img-1.jpg"> <a href="single_discussion_view.html">-->
<!--                            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4></a>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="col-xl-4 col-lg-12 col-md-12">-->
<!--                          <ul class="dis-reviews">-->
<!--                            <li>-->
<!--                              <a href="#">5 h</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                              <a href="#">3k views</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                              <a href="#">5 replies</a>-->
<!--                            </li>-->
<!--                          </ul>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="dis-item">-->
<!--                      <div class="row no-gutters">-->
<!--                        <div class="col-xl-8 col-lg-12 col-md-12">-->
<!--                          <div class="dis-img-text">-->
<!--                            <img alt="" src="images/discussion/img-1.jpg"> <a href="single_discussion_view.html">-->
<!--                            <h4>ellentesque vitae metus at neque cursus finibus.</h4></a>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="col-xl-4 col-lg-12 col-md-12">-->
<!--                          <ul class="dis-reviews">-->
<!--                            <li>-->
<!--                              <a href="#">6 h</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                              <a href="#">6k views</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                              <a href="#">10 replies</a>-->
<!--                            </li>-->
<!--                          </ul>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
              <div aria-labelledby="events-tab" class="tab-pane fade" id="events" role="tabpanel">
                <div class="main-card mt-4 mb-0">
                  <div class="events-dash-heading d-flex align-items-center w-100 py-2 pe-2 ps-4">
                    <h4>Évènements </h4>
                    <a class="main-btn btn-hover h_40 ms-auto" routerLink="/home/new-event">Créer</a>
                  </div>
                  <div class="events-dash-options main-form">
                    <div class="row g-2">
                      <div class="col-lg-4 col-md-4 col-12">
                        <div class="event-search-dash">
                          <div class="position-relative">
                            <input class="form-input" placeholder="Rechercher ..." type="text" name="recherche" [(ngModel)]="searchEvent">
                            <span class="icon-158"><i class="feather-search"></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-12">
                        <select class="selectpicker" data-width="100%">
                          <option value="publish-event">Published Events</option>
                          <option value="draft-event">Draft and Scheduled Events</option>
                        </select>
                      </div>
                      <div class="col-lg-3 col-md-4 col-12">
                        <select class="selectpicker" data-width="100%">
                          <option value="event-date">Event Date</option>
                          <option value="publish-date">Publish Date</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="all-dash-events">
                    <div class="row">
                      <div *ngFor="let pubUser of personne_publications | filter:searchEvent"  class="col-xl-4 col-lg-6 col-md-6 col-12">
                        <div class="event-main-post">
                          <div class="main-photo">
                            <a href="#">
                              <div class="photo-overlay"></div>
                              <img height="100px" src="../../assets/images/homepage/center/arrireplan.png" alt="">
                            </a>
                          </div>
                          <div class="event-body">
                            <span class="event-time">{{pubUser.date_realisation}}</span>
                            <a href="event_detail_view.html" class="event-title">{{pubUser.event_name}}</a>
                            <span class="event-type">{{pubUser.lieu}}</span>
                            <div class="group-btns">
                              <button class="interest-btn btn-hover" (click)="getDetails(pubUser.id)" ><i class="feather-eye me-2"></i>Voir</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="loading-btn mb-0">
                          <button class="process-btn btn-hover" type="button">
                            Pas plus d'évènements
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ng-template #profil_user>
            <div class="col-xl-8 col-lg-7 col-md-12">
              <div class="main-card mt-4 mb-0">
                <div class="events-dash-heading d-flex align-items-center w-100 py-2 pe-2 ps-4">
                  <h4>Evenements</h4>
                </div>
                <div class="events-dash-options main-form">
                  <div class="row g-2">
                    <div class="col-lg-4 col-md-4 col-12">
                      <div class="event-search-dash">
                        <div class="position-relative">
                          <input class="form-input" placeholder="Rechercher ..." name="recherche" [(ngModel)]="searchEvent" type="text">
                          <span class="icon-158"><i class="feather-search"></i></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12">
                      <select class="selectpicker" data-width="100%">
                        <option value="publish-event">Published Events</option>
                        <option value="draft-event">Draft and Scheduled Events</option>
                      </select>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12">
                      <select class="selectpicker" data-width="100%">
                        <option value="event-date">Event Date</option>
                        <option value="publish-date">Publish Date</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="all-dash-events">
                  <div class="row">
                    <div *ngFor="let pubUser of personne_publications  | slice:(page-1)*pageSize:page*pageSize | filter: searchEvent"  class="col-xl-4 col-lg-6 col-md-6 col-12">
                      <div class="event-main-post">
                        <div class="main-photo">
                          <a href="#">
                            <div class="photo-overlay"></div>
                            <img height="100px" src="../../assets/images/homepage/center/arrireplan.png" alt="">
                          </a>
                        </div>
                        <div class="event-body">
                          <span class="event-time">{{pubUser.date_realisation}}</span>
                          <a style="cursor:pointer;" (click)="getDetails(pubUser.id)" class="event-title">{{pubUser.event_name}}</a>
                          <div class="group-btns">
                            <button class="interest-btn btn-hover" (click)="getDetails(pubUser.id)"><i class="feather-eye me-2"></i>Voir</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="blog-pagination">
                      <nav aria-label="Page navigation example">
                        <ul class="pagination">
                          <li class="page-item">
                            <button (click)="page = page - 1" [disabled]="page == 1" class="btn btn-secondary">Précédent</button>
                            <button (click)="page = page + 1" [disabled]="page * pageSize >= (personne_publications?.length || 0)" class="btn btn-secondary">Suivant</button>
                          </li>
                        </ul>
                      </nav>
                    </div>
                    <div class="col-12">
                      <div class="loading-btn mb-0">
                        <button class="process-btn btn-hover" type="button">
                          Pas plus d'évènements
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</main>
<ngx-spinner bdColor="rgb(2 2 2 / 90%)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
  [fullScreen] = "true">
  <p style="font-size: 18px; color: white">Chargement des données...</p>
</ngx-spinner>
