<div class="title-bar">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ol class="title-bar-text">
          <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
          <li aria-current="page" class="breadcrumb-item active">Paramètres</li>
        </ol>
      </div>
    </div>
  </div>
</div><!-- Title Bar End --><!-- Body Start -->
<main class="discussion-mp">
  <div class="main-section">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-lg-4 col-md-12">
          <div class="main-card">
            <div class="setting-tabs">
              <ul class="nav nav-pills nav-fill p-2 setting-tab" id="myTab" role="tablist">
                <li class="nav-item">
                  <a aria-controls="social-setting" aria-selected="false" class="nav-link active" data-bs-toggle="tab" href="#social-setting" id="social-setting-tab" role="tab"><i class="feather-share-2 me-3"></i>Réseaux sociaux</a>
                </li>
                <li class="nav-item">
                  <a aria-controls="email-setting" aria-selected="false" class="nav-link" data-bs-toggle="tab" href="#email-setting" id="email-setting-tab" role="tab"><i class="feather-mail me-3"></i>Changer Email</a>
                </li>
                <li class="nav-item">
                  <a aria-controls="password-setting" aria-selected="false" class="nav-link" data-bs-toggle="tab" href="#password-setting" id="password-setting-tab" role="tab"><i class="feather-lock me-3"></i>Changer Mot de passe</a>
                </li>
                <li class="nav-item">
                  <a aria-controls="delete-setting" aria-selected="true" class="nav-link" data-bs-toggle="tab" href="#delete-setting" id="delete-setting-tab" role="tab"><i class="feather-trash-2 me-3"></i>Desactiver le compte</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-12">
          <div class="tab-content" id="myTabContent">
            <div aria-labelledby="social-setting-tab" class="tab-pane fade active show" id="social-setting" role="tabpanel">
              <div class="main-card">
                <div class="categories-left-heading border_bottom">
                  <h3>Réseaux sociaux </h3>
                </div>
                <div class="setting-area">
                  <div class="form-group scl-icn">
                    <input class="form-input-s" placeholder="http://facebook.com/johndoe" type="text">
                    <div class="scl-icn1 scl-bg-1"><i class="fab fa-facebook-f"></i></div>
                  </div>
                  <div class="form-group scl-icn">
                    <input class="form-input-s" placeholder="http://twitter.com/johndoe" type="text">
                    <div class="scl-icn1 scl-bg-2"><i class="fab fa-twitter"></i></div>
                  </div>
                  <div class="form-group scl-icn">
                    <input class="form-input-s" placeholder="http://googleplus.com/johndoe" type="text">
                    <div class="scl-icn1 scl-bg-3"><i class="fab fa-google-plus-g"></i></div>
                  </div>
                  <div class="form-group scl-icn">
                    <input class="form-input-s" placeholder="http://instagram.com/johndoe" type="text">
                    <div class="scl-icn1 scl-bg-4"><i class="fab fa-instagram"></i></div>
                  </div>
                  <div class="form-group scl-icn">
                    <input class="form-input-s" placeholder="http://pinterest.com/johndoe" type="text">
                    <div class="scl-icn1 scl-bg-5"><i class="fab fa-pinterest-p"></i></div>
                  </div>
                  <div class="form-group scl-icn">
                    <input class="form-input-s" placeholder="http://linkedin.com/johndoe" type="text">
                    <div class="scl-icn1 scl-bg-6"><i class="fab fa-linkedin-in"></i></div>
                  </div>
                  <div class="form-group scl-icn">
                    <input class="form-input-s" placeholder="http://youtube.com/johndoe" type="text">
                    <div class="scl-icn1 scl-bg-7"><i class="fab fa-youtube"></i></div>
                  </div>

                  <div class="add-profile-btn">
                    <button class="setting-save-btn" type="submit">Sauvegarder</button>
                  </div>
                </div>
              </div>
            </div>
            <div aria-labelledby="email-setting-tab" class="tab-pane fade" id="email-setting" role="tabpanel">
              <form (ngSubmit)="changeMail()" [formGroup]="formMail">
                <div class="main-card">
                  <div class="categories-left-heading border_bottom">
                    <h3>Paramètres du mail</h3>
                  </div>
                  <div class="setting-area">
                    <div class="form-group">
                      <label class="form-label">Ancien Adresse Email*</label>
                      <input class="form-input" formControlName="old_mail" placeholder="Entrer l'ancienne adresse email" type="text">
                    </div>
                    <div class="form-group">
                      <label class="form-label">Nouvelle Adresse Email*</label>
                      <input class="form-input" formControlName="new_mail" placeholder="Entrer le nouvelle adresse mail" type="text">
                    </div>
                    <div class="add-profile-btn">
                      <button class="setting-save-btn" type="submit">Sauvagarder</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div aria-labelledby="password-setting-tab" class="tab-pane fade" id="password-setting" role="tabpanel">
              <form (ngSubmit)="changeMdp()" [formGroup]="formMdp">
                <div class="main-card">
                  <div class="categories-left-heading border_bottom">
                    <h3>Changer Mot de Passe</h3>
                  </div>
                  <div class="setting-area">
                    <div class="form-group">
                      <label class="form-label">Ancien mot de passe*</label>
                      <input class="form-input" formControlName="mdp" placeholder="Entrer l'ancienne mot de passe" type="password">
                    </div>
                    <div class="form-group">
                      <label class="form-label">Nouveau mot de passe*</label>
                      <input class="form-input" formControlName="new_mdp" placeholder="Entrer le nouveau mot de passe" type="password">
                    </div>
                    <div class="add-profile-btn">
                      <button class="setting-save-btn" type="submit">Sauvegarder</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div aria-labelledby="delete-setting-tab" class="tab-pane fade" id="delete-setting" role="tabpanel">
              <form (ngSubmit)="desactivateAccount()" [formGroup]="formDesactivate">
                <div class="main-card">
                  <div class="categories-left-heading border_bottom">
                    <h3>Désactiver Compte</h3>
                  </div>
                  <div class="setting-area">
                    <div class="form-group">
                      <label class="form-label">Email*</label>
                      <input class="form-input" formControlName="email" placeholder="Entrer votre adresse mail" type="password">
                    </div>
                    <div class="form-group">
                      <label class="form-label">Mot de passe*</label>
                      <input class="form-input" formControlName="mdp" placeholder="Entrer votre mot de passe" type="password">
                    </div>
                    <div class="form-group">
                      <label class="form-label">Description*</label>
                      <textarea class="form-textarea" formControlName="description" placeholder="Description"></textarea>
                    </div>
                    <div class="add-profile-btn">
                      <button class="setting-save-btn" type="submit">Désactiver compte</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
