.logo-style{
  background-color: #fff;
  border-radius: 20px;
  padding: 3px;
}
.clear-icon{
  position: absolute;
  left: 75%;
  align-content: center;
  margin-top:12px;
  color: #272525;
  width: 20px;
  z-index: 9999999;
}
.nothing-here{
  color: grey;
  font-size: 16px;
  text-align: center !important;
  align-items: center !important;
  padding-top: 15px;
  padding-bottom: 15px;
}
